@import "atoms/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "atoms/utils";
@import "atoms/buttons";

@import "molecules/timeline";

@import "organisms/header";
@import "organisms/footer";
@import "organisms/breadcrumb";
@import "organisms/bop-table";
@import "organisms/section";
@import "organisms/table";
@import "organisms/form";
@import "organisms/selector";
@import "organisms/notifications";

@import "templates/home";
@import "templates/login";
@import "templates/campaings";
@import "templates/manager";

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

p {
  margin: 0;
}

.main {
  min-height: 100vh;
  padding-bottom: 40px;
}

/*
|--------------------|
|       MAIN         |
|--------------------|
*/

/*
|--------------------|
|  REBOOT BOOTSTRAP  |
|--------------------|
*/

tbody {
  tr {
    td {
      vertical-align: middle !important;
    }
  }
}

.card-header,
.card-footer {
  background-color: transparent;
}

.card-header {
  h4 {
    font-size: 16px;
    text-transform: uppercase;
  }
  border-bottom: 0 !important;
}

table {
  thead {
    th {
      border-top: 0;
      color: $dark;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  td {
    color: $gray-700;
  }
}

.form-control.invalid {
  border-color: $red;
}

.btn-group-actions {
  i.fa {
    width: 13px;
    height: 13px;
    &:before {
      left: 40%;
    }
    font-size: 10px;
  }

  .btn-action {
    background-color: $quaternary;
    color: white;
    &:hover {
      background-color: $primary;
    }
  }
}

.toolbar {
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.search-bar {
  button {
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 4px 8px;
    margin: 0;
    vertical-align: middle;
    background: #fff;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    color: #333;
  }
}

.form-control-sm {
  height: calc(1.2em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-success {
  color: white;
}

.results {
  .paginator {
    border-bottom: 1px solid #eee;

    .counter {
      color: #6c757d;
      font-size: 12px;
    }
  }
}

.pagination {
  .page-item {
    &.active {
      .page-link {
        background-color: #17a2b8;
        border-color: #17a2b8;
      }
    }
    .page-link {
      padding: 0.3rem 0.55rem;
      font-size: 12px;
    }
  }
}

ul.messagelist {
  list-style: none;
  padding: 0;

  li.success {
    padding: 10px 10px 10px 65px;
    color: #333;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    font-size: 13px;
    display: block;
  }
}

ul.errorlist {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 10px 10px 65px;
    color: #333;
    background: rgba($color: #ba2121, $alpha: 0.2) url(../img/icon-no.svg) 40px
      12px no-repeat;
    background-size: 16px auto;
    font-size: 13px;
    display: block;
  }
}

.title-1 {
  color: #6c757d;
  font-size: 20px;
  font-weight: 300;
}

.info {
  h4 {
    padding: 8px;
    font-size: 13px;
    color: white;
    background-color: $secondary;
    margin: 0;
  }
  .info-list {
    color: $gray-700;
    padding: 0;
    list-style: none;
    font-size: 12px;

    li {
      padding: 4px 7px;
      border-bottom: 1px solid #eee;
    }

    li:nth-of-type(even) {
      background-color: #f9f9f9;
    }
  }
}

.font-bold {
  font-weight: bold;
}

ul.messages {
  list-style: none;
  padding: 0;

  li {
    background-size: 16px auto;
    display: block;
    font-size: 13px;
    color: #333;
    padding: 10px 10px 10px 65px;
  }

  li.error {
    background: rgba($color: #ba2121, $alpha: 0.2) url(../img/icon-no.svg) 40px
      12px no-repeat;
  }

  li.success {
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
  }
}

/*
|--------------------|
|      TABLE         |
|--------------------|
*/

table.table-results {
  thead {
    tr {
      th.title {
        border-spacing: 10px;
        background-color: $primary;
        color: white;
      }
      td.cell {
        background-color: $gray-100;
        font-size: 10px;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: 10px;
      }
    }
  }
}

.table th,
.table td {
  padding: 0.35rem;
}

// campaign planner modal css
#modalLoading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($green, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  > p {
    color: white;
    font-size: 20px;
  }
}

/*
|--------------------|
|      ACCORDION     |
|--------------------|
*/
.dnv-accordion {
  .card-header {
    padding: 0;
    background-color: $secondary;
    border-radius: 0;
    button.btn-link {
      color: white;
      font-size: 14px;
    }
  }
}

.input-group-text {
  padding: 0.2rem 0.75rem;
}

.dropdown-menu {
  overflow-y: scroll;
  max-height: 40vh;
}
.dropdown-item {
  white-space: unset;
  font-size: 11px;
}


.content-related {
    background-color: #f8f8f8;
    padding-bottom: 15px;

    > h4 {
        background: none;
        padding: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #eaeaea;
        font-size: 18px;
        color: #333;    
    }

    .info-list {
        padding: 0;
        margin: 16px;
        margin-bottom: 10px;
        // padding-left: 18px;

        li {
            list-style-type: none;
            overflow: hidden;
            line-height: 1.2;
            text-overflow: ellipsis;
            margin-bottom: 0.5rem;

            span {
                font-size: 12px;
                color: #999;
            }
        }
    }
}

.badge-chart {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    font-size: 12px;

    > div {
        color: $gray-700;
        padding: 4px 6px;
    }

    .info {
        border: 1px solid $green;
        background-color: rgba($color: $green, $alpha: 0.8);
        border-radius: inherit;
        color: white;
    }
}