{% extends 'base.html' %}
{% load static %}
{% load manager_extras %}

{% block breadcrumb %}
<style>
  tr.selected {
      background-color: rgba(248,168,37,0.3) !important;
  }
</style>
<div class="page-title">
  <div class="container-fluid px-5">
    <div class="page-title-wrapper-2">
      <div class="page-title-heading-2">
        {% if schema %}
        <a href="{% url 'campaigns:index' schema.campaign.pk %}">{{ schema.campaign.name }}</a>
        <span class="fa fa-chevron-right"></span>
        <a href="{% url 'campaigns:schema_index' schema.campaign.pk schema.pk %}">{{ schema.name }}</a>
        <span class="fa fa-chevron-right"></span>
        <span class="current-page">Change</span>
        {% else %}
        <a href="{% url 'campaigns:index' campaign.pk %}">{{ campaign.name }}</a>
        <span class="fa fa-chevron-right"></span>
        <span class="current-page">Add new schema</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="section bg-white" id="app">
  <div class="container-fluid px-5">
    {% if schema %}
    <h4 class="title-1 mb-4">Change Schema</h4>
    {% else %}
    <h4 class="title-1 mb-4">Add Schema</h4>
    {% endif %}
    <div class="section-content">
      <div class="row">
        <div class="col-sm-12">
          <form method="POST" id="schemaForm">
            {% csrf_token %}
            {% if campaign %}
            <input type="hidden" id="bopId" value="{{ campaign.bop.pk }}" name="bop">
            <input type="hidden" id="campaignId" value="{{ campaign.pk }}" name="campaign">
            <schema-form></schema-form>
            {% else %}
            <input type="hidden" id="bopId" value="{{ schema.campaign.bop.pk }}" name="bop">
            <input type="hidden" id="campaignId" value="{{ schema.campaign.pk }}" name="campaign">
            <input type="hidden" id="schemaId" value="{{ schema.pk }}" name="schema">
            <schema-update></schema-update>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'build/campaign.js' %}"></script>
{% endblock %}
