{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock %}</title>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet" />
  <!-- fontawesome -->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
</head>

<body>
  <div class="container">
    <div class="section">
      <h2 class="text-danger">403 Unauthorized</h2>
      <p>You are not allowed to access this page. Please, try to login with a different account.</p>
      <a href="javascript:void(0)" class="btn btn-danger mt-4" onclick="goBack()">Voltar</a>
      <a href="/manager/login/?next={{request.GET.next}}" class="btn btn-info mt-4">Login with a differente
        account</a>
    </div>
  </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

</html>