{% extends 'manager/base.html' %}

{% block breadcrumb %}
<a href="{% url 'dashboard' %}">Home</a>
<span class="fa fa-chevron-right"></span>
<a href="{% url 'list_accounts' %}">Users list</a>
<span class=" fa fa-chevron-right"></span>
  <a href="{% url 'list_accounts' %}">{{ user.username }}</a>
<span class=" fa fa-chevron-right"></span>
<span class="current-page"> Change password </span>
{% endblock %}


{% block main %}

<div class="section bg-white">
  <div class="container">

    <div class="mb-5">
      <h5 class="mb-3">Change password: Admin</h5>
      <p>Enter a new password for <b>{{ user.username }}</b>. </p>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Old Password</label>
            <div class="col-sm-5">
              {{ form.old_password }}
              <small class="form-text text-muted">
                {{ form.old_password.help_text }}
              </small>
              <small class="form-text text-danger">
                {{form.old_password.errors}}
              </small>
            </div>
          </div>
          <hr />

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
              {{ form.new_password1 }}
              <small class="form-text text-muted">
                {{ form.new_password1.help_text }}
              </small>
              <small class="form-text text-danger">
                {{form.new_password1.errors}}
              </small>
            </div>
          </div>
          <hr />

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password (again)</label>
            <div class="col-sm-5">
              {{ form.new_password2 }}
              <small class="form-text text-muted">
                {{ form.new_password2.help_text }}
              </small>
              <small class="form-text text-danger">
                {{form.new_password2.errors}}
              </small>
            </div>
          </div>
          <hr />

          <div class="p-3 bg-light text-right">
            <a href="#" class="btn btn-default">
              Cancel
            </a>
            <button type="submit" class="px-4 btn btn-secondary">
              Save
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  // Query all input fields
  var form_fields = document.getElementsByTagName('input')
  // customization of form fields
  for (var field in form_fields) {
    form_fields[field].className += 'form-control form-control-sm'
  }
</script>
{% endblock %}