<!DOCTYPE html>
<html lang="en">

{% include 'partials/_header.html' %}
<body>
  <!-- header -->
  <header>
    <div class="main-header bg-dark box-shadow py-2">
      <div class="container">
        <h2 class="text-white">Bop</h2>
      </div>
    </div>
  </header>


  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="#">Home</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page"> Password Reset </span>
        </div>
      </div>
    </div>
  </div>
  <!-- main -->
  <div class="main bg-white">
    <div class="section bg-white">
      <div class="container">
       <div class="mb-5">
          <h5 class="mb-3">Password reset sent</h5>
          <p>
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.
          </p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>