{% extends 'base.html' %}

{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container-fluix px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'bops:index' object.bop.pk %}">{{ object.bop.name }}</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'bops:list_safety_functions' object.bop.pk %}">Safety Functions</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page">{{ object.name }}</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  <!-- main -->
  <div class="main">

    <!-- section 2 -->
    <div class="section">
      <div class="container-fluid px-5">
        <!-- section title -->
        <div class="section-title mb-3">
          <p>Dashboard for Safety Function</p>
          <div>
            <a href="" class="btn btn-sm btn-warning mr-2">
              <small>EDIT SAFETY FUNCTION <i class="fa fa-pencil-alt"></i></small>
            </a>
            <a href="{% url 'bops:delete_safety_function' bop.pk object.pk %}" class="btn btn-sm btn-danger">
              <small>DELETE SAFETY FUNCTION <i class="fa fa-times"></i></small>
            </a>
          </div>
        </div>

        <!-- section content -->
        <div class="row">
          <div class="col-sm-5 col-12">
            <table class="table dnv-table dnv-table-admin">
              <thead>
              <th>{{ object.name }}</th>
              <th></th>
              <th></th>
              </thead>
              <tbody>
              <tr>
                <td><a href="{% url 'bops:list_safety_function_cuts' bop.pk object.pk %}">Cuts</a></td>
                <td width="12%" align="center"><a href=""><i class="fa fa-plus"></i> Add</a></td>
                <td width="12%" align="center"><a href=""><i
                    class="fa fa-pencil-alt"></i> Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- main -->
{% endblock %}
