{% extends 'manager/base.html' %}

{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container-fluid px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'dashboard' %}">Home</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'list_bops' %}">Bops</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'index_bop' bop.pk %}">{{ bop.name }}</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page">Delete Group </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="main">
    <div class="container-fluid px-5">
      <div class="section">
        <!-- section title -->
        <div class="section-title mb-4 d-flex">
          <p>Are you sure?</p>
        </div>
        <p class="mb-4">Are you sure you want to delete the bop "{{ object.name }}"? All the items listed bellow will
          be deleted to.</p>

        <h5>Summary</h5>
        <ul style="list-style-type: square">
          {% for model_name, count in object.with_counts %}
          <li>{{ model_name }}: <b>{{ count }}</b></li>
          {% endfor %}
        </ul>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
          <a href="{% url 'index_safety_function' bop.pk object.pk %}" class="btn btn-quinary">No, take me back</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
