{% load static %}
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %} {% endblock %}</title>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet"/>
  <!-- fontawesome -->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>