{% extends 'base.html' %}
{% load static %}
{% load manager_extras %}

{% block main %}

{% include "snippets/messages.html" with form=form messages=messages %}

<div class="section">
  <div class="container-fluid px-5">
    <div class="section-title mb-4 d-flex">
      {% if event %}
      <p>Change Event</p>
      {% else %}
      <div class="d-flex flex-column">
        <a href="{% url 'campaigns:index' campaign_pk %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to campaign
        </a>
        <p>Add new event</p>
      </div>
      {% endif %}
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-sm-12">
          <form method="POST" id="eventForm">
            {% csrf_token %}
            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Bop:</label>
              <div class="col-sm-3">
                <select name="" disabled>
                  <option value="" selected>{{ campaign.bop }}</option>
                </select>
                <small class="form-text text-muted">
                  Required.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Campaign:</label>
              <div class="col-sm-3">
                <select name="" disabled>
                  <option value="" selected>{{ campaign.name }}</option>
                </select>
                <small class="form-text text-muted">
                  Required.
                </small>
              </div>
            </div>
            <hr />

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Description:</label>
              <div class="col-sm-3">
                {{ form.description }}
                <small class="form-text text-muted">
                  Optional.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Type:</label>
              <div class="col-sm-3">
                {{ form.type }}
                <small class="form-text text-muted">
                  Required.
                </small>
              </div>
            </div>
            <hr />

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Select Code:</label>
              <div class="col-sm-5">
                {{form.object_code}}
                <select name="failure_mode_code" id="failure_mode_codes" class="objects">
                  {% for failure_mode in failure_modes %}
                  <option value="{{failure_mode.code}}">{{ failure_mode.code }} - {{ failure_mode.name }}</option>
                  {% endfor %}
                </select>

                <select name="component_code" id="component_codes" class="objects">
                  {% for component in components %}
                  <option value="{{component.code}}">{{ component.code }} - {{ component.name }}</option>
                  {% endfor %}
                </select>

                <select name="subsystem_code" id="subsystem_codes" class="objects">
                  {% for subsystem in subsystems %}
                  <option value="{{subsystem.code}}">{{ subsystem.code }} - {{ subsystem.name }}</option>
                  {% endfor %}
                </select>
                <small class="form-text text-muted">
                  Failure Mode list.
                </small>
              </div>
            </div>
            <hr />

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Date:</label>
              <div class="col-sm-2">
                {{ form.date }}
                <small class="form-text text-muted">
                  Note: you are 3 hours behind server time.
                </small>
              </div>
            </div>
            <hr />

            <div class="card p-2 bg-light text-right">
              <div class="d-flex">
                <div class="ml-auto">
                  <button type="submit" class="btn btn-secondary">
                    Save and add another
                  </button>
                  <a href="" id="submitBtn" class="btn btn-primary">
                    SAVE
                  </a>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  // Query all input fields
  var form_fields = document.getElementsByTagName('input')
  // customization of form fields
  for (var field in form_fields) {
    if (form_fields[field].type == 'checkbox') continue
    form_fields[field].className += 'form-control form-control-sm'
  }

  // Query all textarea fields
  var form_fields = document.getElementsByTagName('textarea')
  for (var field in form_fields) {
    form_fields[field].className += 'form-control form-control-sm'
  }

  // Query all select fields
  var form_fields = document.getElementsByTagName('select')
  for (var field in form_fields) {
    form_fields[field].className += 'form-control form-control-sm'
  }

  function hideElements() {
    for (let index in arguments) {
      let el = document.getElementById(arguments[index])
      if (!el.classList.contains('d-none')) {
        el.classList.add('d-none')
      }
    }
  }

  function displayElements() {
    for (let index in arguments) {
      let el = document.getElementById(arguments[index])
      if (el.classList.contains('d-none')) {
        el.classList.remove('d-none')
      }
    }
  }

  function getObjectId(type) {
    switch (type) {
      case 'WAW':
      case 'RLL':
        return null;
        break;
      case 'CRIR':
      case 'CRCE':
      case 'CIL':
        return $('#component_codes').val()
        break;
      case 'SRIR':
      case 'SRCE':
      case 'SIL':
        return $('#subsystem_codes').val()
        break;
      case 'FIL':
        return $('#failure_mode_codes').val()
        break;
      default:
        break
    }
  }

  const type = document.getElementById('id_type')
  const form = document.getElementById('eventForm')
  const submitBtn = document.getElementById('submitBtn')

  hideElements('failure_mode_codes', 'component_codes', 'subsystem_codes')

  type.addEventListener('change', function () {
    switch (this.value) {
      case 'WAW':
      case 'RLL':
        hideElements('failure_mode_codes', 'component_codes', 'subsystem_codes')
        break;
      case 'CRIR':
      case 'CRCE':
      case 'CIL':
        displayElements('component_codes')
        hideElements('failure_mode_codes', 'subsystem_codes')
        break;
      case 'SRIR':
      case 'SRCE':
      case 'SIL':
        displayElements('subsystem_codes')
        hideElements('component_codes', 'failure_mode_codes')
        break;
      case 'FIL':
        displayElements('failure_mode_codes')
        hideElements('component_codes', 'subsystem_codes')
        break;
      default:
        break
    }
  })

  submitBtn.addEventListener('click', function (e) {
    e.preventDefault()
    form.object_code.value = getObjectId(form.type.value)
    form.submit()
  })
</script>
{% endblock %}
