{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="section bg-white">
  <div class="container-fluid px-5">
    <div class="section-title mb-4 d-flex">
      <div class="d-flex flex-column">
        <a href="{% url 'bops:hierarchy' failuremode.bop.id %}" class="mb-3"><i class="fa fa-arrow-left"></i> back</a>
        <p clas>Change Failure Mode</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form method="post">
          {% csrf_token %}
          <!-- code field -->
          <div class="form-group row">
            <label class="col-1 col-form-label col-form-label-sm">Bop:</label>
            <div class="col-sm-3">
              <input type="text" disabled value="{{failuremode.component.subsystem.bop}}">
            </div>
          </div>
          <hr />

          <!-- code field -->
          <div class="form-group row">
            <label class="col-1 col-form-label col-form-label-sm">Component:</label>
            <div class="col-sm-3">
              {{ form.component }}
            </div>
          </div>
          <hr />

          <!-- code field -->
          <div class="form-group row">
            <label class="col-1 col-form-label col-form-label-sm">Code:</label>
            <div class="col-sm-3">
              {{ form.code }}
            </div>
          </div>
          <hr />

          <!-- name field -->
          <div class="form-group row">
            <label class="col-1 col-form-label col-form-label-sm">Name:</label>
            <div class="col-sm-3">
              {{ form.name }}
            </div>
          </div>
          <hr />

          <!-- diagnostic coverage field -->
          <div class="form-group row">
            <label class="col-1 col-form-label col-form-label-sm">Diagnostic Coverage:</label>
            <div class="col-sm-1">
              {{ form.diagnostic_coverage }}
            </div>
          </div>
          <hr />

          <!-- distribution type field -->
          <div class="form-group row">
            <label class="col-1 col-form-label col-form-label-sm">Distribution Type:</label>
            <div class="col-auto">
              {{form.distribution}}
              <select name="" id="distribution_type" class="selectchooser form-control-sm">
              </select>
            </div>
            <div class="col-sm-9">
              <div id="distribution_fields" class="d-flex"></div>
            </div>
          </div>
          <hr />

          <!-- actions -->
          <div class="card">
            <div class="bg-light text-right p-2">
              <button type="submit" class="px-4 btn btn-primary">
                Save
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{failuremode.distribution|json_script:"distribution"}}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/SelectDistribution.js' %}"></script>

<script>
  // Query all input fields
  var form_fields = document.getElementsByTagName('input')
  // customization of form fields
  for (var field in form_fields) {
    if (form_fields[field].type == 'file') continue
    form_fields[field].className += 'form-control form-control-sm'
  }

  $("#id_distribution").addClass('d-none')
</script>
{% endblock %}