{% extends 'manager/base.html' %}

{% block breadcrumb %}
<a href="{% url 'dashboard' %}">Home</a>
<span class="fa fa-chevron-right"></span>
<a href="{% url 'list_accounts' %}">Users list</a>
<span class=" fa fa-chevron-right"></span>
<span class="current-page">Delete User </span>
{% endblock %}



{% block main %}
<div class="container">
  <div class="section">
    <h2>Delete {{ user.username }}?</h2>
    <p class="mb-3">Are you sure you want to delete "{{ user.username }}"</p>
    <form action="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-info">Yes</button>
      <a href="{% url 'list_accounts' %}" class="btn btn-danger">Cancel</a>
    </form>
  </div>
</div>

{% endblock %}
