{% extends 'manager/base.html' %}

{% block breadcrumb %}
<a href="{% url 'dashboard' %}">Home</a>
<span class="fa fa-chevron-right"></span>
<a href="{% url 'list_accounts' %}">Users list</a>
<span class=" fa fa-chevron-right"></span>
<span class="current-page">Create new User </span>
{% endblock %}


{% block main %}

<div class="section bg-white">
  <div class="container">
    <div class="row">
      {% for message in messages %}
      <div class="col-12 text-center">
        <p id="messages" class="alert alert-success">{{ message }}</p>
      </div>
      {% endfor %}

      <div class="col-sm-10">
        <form method="POST">
          {% csrf_token %}

          <!-- username field -->
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-sm">Username</label>
            <div class="col-sm-5">

              {{form.username}}
              <small class="form-text text-muted">
                {{form.username.help_text}}
              </small>
              <small class="form-text text-danger">
                {{form.username.errors}}
              </small>
            </div>
          </div>
          <hr />

          <!-- email field -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Email</label>
            <div class="col-sm-5">

              {{form.email}}
              <small class="form-text text-muted">
                Required.
              </small>
              <small class="form-text text-danger">
                {{form.email.errors}}
              </small>
            </div>
          </div>
          <hr />

          {% if request.path == '/manager/register_account/' %}
            <!-- password1 field -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label col-form-label-sm">Password</label>
              <div class="col-sm-5">
                {{form.password1}}
                <small class="form-text text-muted">
                  {{form.password1.help_text}}
                </small>
                <small class="form-text text-danger">
                  {{form.password1.errors}}
                </small>
              </div>
            </div>
            <hr />

            <!-- password2 field -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label col-form-label-sm">Confirm Password</label>
              <div class="col-sm-5">
                {{form.password2}}
                <small class="form-text text-muted">
                  {{form.password2.help_text}}
                </small>
                <small class="form-text text-danger">
                  {{form.password2.errors}}
                </small>
              </div>
            </div>
            <hr />
          {% else %}
            <!-- password2 field -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label col-form-label-sm">Password</label>
              <div class="col-sm-8">
                {{form.password}}
                <small class="form-text text-muted">
                  {{form.password2.help_text}}
                </small>
              </div>
            </div>
            <hr />
          {% endif %}

          <!-- group field -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Group</label>
            <div class="col-sm-5">
              <select name="group" id="inputStateGroup" class="form-control form-control-sm">
                <option selected> -- </option>

                {% for group in groups %}
                  {% if user.groups.all.0.name == group.name %}
                  <option value="{{group.name}}" selected> {{group.name}} </option>
                  {% else %}
                  <option value="{{group.name}}"> {{group.name}} </option>
                  {% endif %} 
                {% endfor %}

              </select>
              <small class="form-text text-muted">
                Required. Group field defines permissions for each kind of
                user.
              </small>
            </div>
          </div>
          <hr />

          <div class="p-3 bg-light text-right">
            <a href="{% url 'manager' %}" class=" btn btn-default">
              Cancel
            </a>
            <button type="submit" class="px-4 btn btn-secondary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  // Query all input fields
  var form_fields = document.getElementsByTagName('input')
  // customization of form fields
  for (var field in form_fields) {
    form_fields[field].className += 'form-control form-control-sm'
  }
</script>
{% endblock %}