{% extends 'base.html' %}
{% load manager_extras %}

{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container-fluix px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'dashboard' %}">Home</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page">Users </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  {% for message in messages %}
    <ul class="messagelist">
      <li class="success">{{ message }}</li>
    </ul>
  {% endfor %}
  <!-- main -->
  <div class="main">
    <!-- section bop list -->
    <div class="section" id="home">
      <div class="container-fluid px-5">
        <div class="section-title mb-3">
          <p>Select user to change</p>
          <a href="{% url 'register_account' %}" class="btn btn-sm btn-success"><small>ADD USER <i
              class="fa fa-plus"></i></small> </a>
        </div>

        <div class="row">
          <div class="col-sm-12 col-12">
            <div class="toolbar ml-auto px-3 py-2 mb-3">
              <div class="search-bar">
                <form class="form-inline my-2 my-lg-0" method="get">
                  <label for="" class="mr-2"><i class="fa fa-search"></i></label>
                  <input name="username" class="form-control form-control-sm mr-sm-2" type="search"
                         value="{{ request.params.username }}">
                  <button class="" type="submit">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- BOP's table list -->
          <div class="col-sm-12 col-12">
            <div class="results">
              <table class="table dnv-table m-0">
                <thead class="bg-white-50">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">username</th>
                  <th scope="col">email address</th>
                  <th scope="col">role</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                  <tr>
                    <td scope="row" width="4%">{{ account.id }}</td>
                    <td><a href="{% url 'update_account' account.pk %}">{{ account.username }}</a></td>
                    <td><a href="{% url 'update_account' account.pk %}">{{ account.email }}</a></td>
                    <td>{{ account.groups.all.0 }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <div class="paginator p-3">
                <div class="d-flex align-items-center">
                  <nav class="mr-3">
                    {% if accounts.has_other_pages %}
                      <ul class="pagination m-0">
                        {% if accounts.has_previous %}
                          <li class="page-item">
                            <a
                                class="page-link"
                                href="{% my_url accounts.previous_page_number 'page' request.GET.urlencode %}"
                                aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                        {% endif %}

                        {% for i in accounts.paginator.page_range %}
                          {% if accounts.number == i %}
                            <li class="page-item active">
                              <a class="page-link">{{ i }}</a>
                            </li>
                          {% else %}
                            <li class="page-item">
                              <a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}

                        {% if accounts.has_next %}
                          <li class="page-item">
                            <a class="page-link"
                               href="{% my_url accounts.next_page_number 'page' request.GET.urlencode %}"
                               aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    {% endif %}
                  </nav>
                  <small class="counter">

                  </small>
                </div>

              </div>
            </div>
          </div>
          <!-- end cols -->
        </div>
      </div>
      <!-- ./ container -->
    </div>
    <!-- ./ section -->
  </div>
{% endblock %}

