{% extends 'manager/base.html' %}

{% block breadcrumb %}
<span> Home </span>
{% endblock %}

{% block main %}
<!-- section bop list -->
<div class="section" id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-12">
        <!-- BOP's table list -->
        <div class="card">
          <div class="card-body">
            <table class="table dnv-table">
              <thead class="">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Code</th>
                  <th style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td>Buzz</td>
                  <td>Ao infinito e além</td>
                  <td>F9820B</td>
                  <td align="center">
                    <a href="" class="btn btn-sm btn-icon"><i class="fa fa-edit"></i></a>
                    <a href="" class="btn btn-sm btn-icon">show campaigns</a>
                    <a href="" class="btn btn-sm btn-icon">show results
                      <span class="badge badge-light">4</span></a>
                  </td>
                </tr>

                <tr>
                  <td scope="row">1</td>
                  <td>Blit</td>
                  <td>Ao infinito e além</td>
                  <td>F9820B</td>
                  <td align="center">
                    <a href="" class="btn btn-sm btn-icon"><i class="fa fa-edit"></i></a>
                    <a href="" class="btn btn-sm btn-icon">show campaigns</a>
                    <a href="" class="btn btn-sm btn-icon">show results
                      <span class="badge badge-light">4</span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ container -->
</div>
<!-- ./ section -->
{% endblock %}