{% extends 'manager/base.html' %}

{% block main %}

  <div class="dashboard-welcome section">
    <div class="container">

      <div class="welcome-content">
        <div class="row mb-4">
          <!-- start widgets -->
          <div class="col-sm-4 col-12">
            <div class="card">
              <div class="card-body">
                <div class="widget">
                  <div class="widget-content-left">
                    <p class="widget-title">Bops</p>
                    <p class="widget-desc">TOTAL</p>
                    <p class="widget-count text-primary">2</p>
                    <a href="#" class="btn btn-sm btn-primary">more info</a>
                  </div>
                  <div class="widget-content-right">
                    <div class="widget-icon">
                      <i class="fa fa-hard-hat"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- widget -->
          <div class="col-sm-4 col-12">
            <div class="card ">
              <div class="card-body">
                <div class="widget">
                  <div class="widget-content-left">
                    <p class="widget-title">Users</p>
                    <p class="widget-desc">TOTAL</p>
                    <p class="widget-count text-success">12</p>
                    <a href="#" class="btn btn-sm btn-success">more info</a>
                  </div>
                  <div class="widget-content-right">
                    <div class="widget-icon">
                      <i class="fa fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
{% endblock %}