{% extends 'base.html' %}

{% block breadcrumb %}
<span> Home </span>
{% endblock %}

{% block main %}
<!-- section bop list -->
<div class="section" id="home">
  <div class="container">
    <div class="row">

      <!-- BOP's table list -->
      <div class="col-sm-8 col-12">
        <div class="card">
          <div class="card-header bg-quinary">
            <h4 class="text-white m-0">Bop Resume</h4>
          </div>
          <div class="card-body">
            <table class="table bop-table">
              <thead class="">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Code</th>
                  <th style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for bop in bops %}
                <tr>
                  <td scope="row">{{ bop.id }}</td>
                  <td>{{ bop.name }}</td>
                  <td class="description" width="40%">{{ bop.description }}</td>
                  <td>{{ bop.code }}</td>
                  <td align="center">
                    <a href="" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                    <a href="{% url 'list_bop__campaigns' bop.id %}" class="btn btn-sm btn-danger">campaigns</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Active Campaigns list -->
      <div class="col-sm-4 col-12">
        <div class="card">
          <div class="card-header bg-quinary">
            <h4 class="text-white m-0">Active Campaigns</h4>
          </div>
          <div class="card-body">
            <table class="table">
              <thead class="">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">End Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td><a href="">Júpter Collapse</a></td>
                  <td>31/08/2020</td>
                </tr>
                <tr>
                  <td scope="row">2</td>
                  <td><a href="">Júpter Collapse</a></td>
                  <td>31/08/2020</td>
                </tr>
                <tr>
                  <td scope="row">3</td>
                  <td><a href="">Júpter Collapse</a></td>
                  <td>31/08/2020</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ./ container -->
</div>
<!-- ./ section -->
{% endblock %}