<!DOCTYPE html>
<html lang="en">

{% include 'partials/_header.html' %}
<body>
  <!-- header -->
  <header>
    <div class="main-header bg-dark box-shadow py-2">
      <div class="container">
        <h2 class="text-white">Bop</h2>
      </div>
    </div>
  </header>


  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="#">Home</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page"> Password Reset </span>
        </div>
      </div>
    </div>
  </div>
  <div class="main bg-white">
    <div class="section bg-white">
      <div class="container">
        <div class="mb-5">
          <h5 class="mb-3">Enter new password</h5>
          <p>
            Please enter your new password twice so we can verify you typed it in correctly.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                  {{ form.new_password1 }}
                  <small class="form-text text-danger">
                    {{form.new_password1.errors}}
                  </small>
                </div>
              </div>
              <hr />

              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-4">
                  {{ form.new_password2 }}
                  <small class="form-text text-danger">
                    {{form.new_password2.errors}}
                  </small>
                </div>
              </div>
              <hr />

              <div class=" bg-light">
                <button type="submit" class="btn btn-info">
                  Reset my password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Query all input fields
    var form_fields = document.getElementsByTagName('input')
    // customization of form fields
    for (var field in form_fields) {
      form_fields[field].className += 'form-control form-control-sm'
    }
  </script>
</body>
</html>