<!DOCTYPE html>
<html lang="en">

{% include 'partials/_header.html' %}
<body>
  <!-- header -->
  <header>
    <div class="main-header bg-dark box-shadow py-2">
      <div class="container">
        <h2 class="text-white">Bop</h2>
      </div>
    </div>
  </header>


  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="#">Home</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page"> Password Reset </span>
        </div>
      </div>
    </div>
  </div>
  <!-- main -->
  <div class="main bg-white">
    <div class="section bg-white">
      <div class="container">
        <div class="mb-5">
          <h5 class="mb-3">Password reset complete</h5>
          <p>
            Your password has been set. You may go ahead and log in now.
          </p>
          <a href="{% url 'login' %}" class="btn btn-info mt-3">Login</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>