{% extends 'base.html' %}
{% load manager_extras %}

{% block main %}

{% include 'snippets/messages.html' with form=form messages=messages %}

<!-- section bop list -->
<div class="section" id="home">
  <div class="container-fluid px-5">
    <!-- section title -->
    <div class="section-title mb-3">
      <div class="d-flex flex-column">
        {% if request.GET.bop %}
        <a href="{% url 'bops:hierarchy' request.GET.bop %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to bop hierarchy
        </a>
        {% else %}
        <a href="{% url 'dashboard' %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to main page
        </a>
        {% endif %}

        <h2>Components</h2>
        <p></p>
      </div>

      <!-- actions -->
      <div>
        <a href="{% url 'components:create' %}?bop={{request.GET.bop}}" class="btn btn-primary"><i
            class="fa fa-plus"></i> add
          component</a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="toolbar ml-auto px-3 py-2 mb-3 d-flex">
          <form class="form-inline my-2 my-lg-0" method="get">
            <!-- SEARCH BAR -->
            <div class="search-bar mr-4 form-group">
              <label for="" class="mr-2"><i class="fa fa-search"></i></label>
              <input
                  name="q"
                  class="form-control form-control-sm mr-sm-2"
                  type="search"
                  value="{{ request.GET.q }}"
              >
              <button class="" type="submit">
                Search
              </button>
            </div>
            <!-- FILTERS -->
            <div class="filters form-group">

              <label for="" class="mr-2">bop: </label>
              <!-- filter by bop -->
              <select name="bop" id="" class="form-control form-control-sm mr-2">
                <option value="">--</option>
                {% for bop in bops %}
                {% if request.GET.bop == bop.id|stringformat:"i" %}
                <option value="{{bop.id}}" selected>{{ bop.name }}</option>
                {% else %}
                <option value="{{bop.id}}">{{ bop.name }}</option>
                {% endif %}
                {% endfor %}
              </select>


              <button class="btn-standard" type="submit">
                select
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- BOP's table list -->
      <div class="col-sm-12 col-12">
        <div class="results">
          <small class="text-muted">Found {{ dataset.paginator.count }} Results</small>
          <table class="table dnv-table m-0">
            <thead class="bg-white-50">
            <tr>
              <th scope="col">code</th>
              <th scope="col">name</th>
              <th scope="col">Subsystem</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in dataset.object_list %}
            <tr>
              <td scope="row" width="4%">{{ object.code }}</td>
              <td><a href="{% url 'components:update' object.id %}">{{ object.name }}</a></td>
              <td><a href="">{{ object.subsystem }}</a></td>
              <td width="7%">
                <form method="POST" action="{% url 'components:delete' object.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn-standard text-danger">
                    <i class="fa fa-times"></i> delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'snippets/paginator.html' with dataset=dataset %}
        </div>
      </div>
      <!-- end cols -->
    </div>
  </div>
  <!-- ./ container -->
</div>
<!-- ./ section -->
{% endblock %}
