<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="footer-toolbar">
            <div class="toolbar-menu">
                <a href="" class="">By © DNV GL in colaboration with petrobras</a>
            </div>
            <div class="toolbar-menu">
                <span class="mr-2"><i class="fa fa-calendar"></i> format: mm/dd/YYYY </span>
                <a href="" class=""><i class="fa fa-exclamation-triangle"></i> Warnings: 0</a>
                <a href="" class=""><i class="fa fa-times"></i> Errors: 0</a>
            </div>
        </div>
    </div>
</footer>
