<li class="nav-item">
  <a href="{% url 'bops:test_planner' bop.pk %}" class="nav-link"><i class="fa fa-flask"></i> Test
    Planner</a>
</li>

<li class="nav-item">
  <a href="{% url 'bops:list_safety_functions' bop.pk %}" class="nav-link"><i class="fa fa-hard-hat"></i> Safety Function</a>
</li>

<li class="nav-item">
  <a href="" class="nav-link"><i class="fa fa-sitemap"></i> Hierarchy</a>
</li>

<li class="nav-item">
  <a href="" class="nav-link"><i class="fa fa-chart-bar"></i> Summary Results</a>
</li>
