{% extends 'base.html' %}

{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container-fluid px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'bops:test_planner' test_group.bop.pk %}">TestPlanner</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page">Delete Group </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="main">
    <div class="container-fluid px-5">
      <div class="section">
        <!-- section title -->
        <div class="section-title mb-4 d-flex">
          <p>Are you sure?</p>
        </div>
        <p class="mb-4">Are you sure you want to delete the test group "{{ test_group }}"?</p>

        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
          <a href="{% url 'bops:test_planner_raw' test_group.bop.pk %}" class="btn btn-quinary">No, take me back</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
