{% extends 'base.html' %}
{% load static %}

{% block extra_menu %}
{% include 'common/bop_menu.html' %}
{% endblock %}

{% block main %}
  <!-- main -->
  <div class="main">

    <!-- section 2 -->
    <div class="section">
      <div class="container-fluid px-5">
        <!-- section title -->
        <a href="{% url 'bops:list_safety_functions' bop.pk %}"><i class="fa fa-arrow-left"></i> back</a>
        <div class="section-title mb-3">
          <p>Dashboard for Safety Function "{{object}}"</p>
          <div>
            <a href="" class="btn btn-sm btn-primary mr-2">
              <small>EDIT SAFETY FUNCTION <i class="fa fa-pencil-alt"></i></small>
            </a>
            <a href="{% url 'bops:delete_safety_function' bop.pk object.pk %}" class="btn btn-sm btn-primary">
              <small>DELETE SAFETY FUNCTION <i class="fa fa-times"></i></small>
            </a>
          </div>
        </div>
        <hr>
        <!-- section content -->
        <div class="row" id="app">
          <div class="col-sm-12 col-12">
            <h4 class="title-1">Cut List</h4>
            {{ json_data|json_script:"json_data" }}
            <cuts-table></cuts-table>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- main -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'build/app.js' %}"></script>
{% endblock %}
