{% extends 'base.html' %}

{% block main %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
<div class="section bg-white">
  <div class="container-fluid px-5">
    <div class="d-flex flex-column">
      <a href="{% url 'bops:list_safety_functions' bop.pk %}" class="mb-3">
        <i class="fa fa-arrow-left"></i> back
      </a>
      <h4 class="title-1 mb-4">Add Safety function</h4>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <form method="POST" enctype="multipart/form-data" id="sfForm">
          {% csrf_token %}

          <!-- bop field -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Bop:</label>
            <div class="col-sm-3">
              <select name="" id="" disabled>
                <option value="" selected>{{ bop.name }}</option>
              </select>
            </div>
          </div>
          <hr/>

          <!-- name field -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Name:</label>
            <div class="col-sm-3">
              {{ form.name }}
            </div>
            <div class="col-sm-10 offset-2">
              <small class="form-text text-muted">
                Required
              </small>
            </div>
          </div>
          <hr/>

          <!-- description field -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Description:</label>
            <div class="col-sm-1">
              {{ form.description }}
            </div>
          </div>
          <hr/>

          <!-- file field -->
          <div class="row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Cuts File:</label>
            <div class="col-sm-5">
              <input name="file" type="file" class="">
              <small class="form-text text-muted">
                Required. List of cuts for this safety function.
              </small>
            </div>
          </div>
          <hr/>

          <div class="card">
            <div class="bg-light text-right p-2">
              {% if object %}
              <a href="{% url 'bops:index_safety_function' object.bop.pk object.pk %}" class=" btn btn-default">
                Cancel
              </a>
              {% else %}
              <a href="{% url 'bops:list_safety_functions' bop.pk %}" class=" btn btn-default">
                Cancel
              </a>
              {% endif %}

              <button type="submit" class="px-4 btn btn-secondary">
                Save
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Query all input fields
    var form_fields = document.getElementsByTagName('input')
    // customization of form fields
    for (var field in form_fields) {
        if (form_fields[field].type == 'file') continue
        form_fields[field].className += 'form-control form-control-sm'
    }

    // Query all selects fields
    var form_fields = document.getElementsByTagName('select')
    // customization of form fields
    for (var field in form_fields) {
        form_fields[field].className += 'form-control form-control-sm'
    }
</script>
{% endblock %}
