{% extends 'manager/base.html' %}
{% load static %}

{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container-fluid px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'dashboard' %}">Home</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'list_bops' %}">Bop list</a>
          <span class=" fa fa-chevron-right"></span>
          <a href="{% url 'index_bop' bop.pk %}">{{ bop.name }}</a>
          <span class=" fa fa-chevron-right"></span>
          <a href="{% url 'list_failuremodes' bop.pk %}">Failure Modes</a>
          <span class=" fa fa-chevron-right"></span>
          <span class="current-page">{{ failuremode.name }}</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}

  <ul class="messagelist" id="messageList">
  </ul>
  <div class="section bg-white">
    <div class="container-fluid px-5">
      <div class="section-title mb-4 d-flex">
        <p clas>Change Failure Mode</p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form method="POST" enctype="multipart/form-data" id="fmForm">
            {% csrf_token %}

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label col-form-label-sm">Component:</label>
              <div class="col-sm-4">
                {{ form.component }}
              </div>
              <div class="col-sm-10 offset-2">
                <small class="form-text text-muted">
                  Required
                </small>
              </div>
            </div>
            <hr/>


            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-sm">Name:</label>
              <div class="col-sm-4">
                {{ form.name }}
              </div>
              <div class="col-sm-10 offset-2">
                <small class="form-text text-muted">
                  Required
                </small>
              </div>
            </div>
            <hr/>

            <div class="form-group row align-items-center no-gutters">
              <label for="" class="col-sm-2 col-form-label col-form-label-sm">Test group:</label>
              <div class="col-sm-1">
                {{ form.group }}
              </div>
              <div class="col-sm-2">
                <div class="ml-2">
                  <a href="" class="px-2"><i class="fa fa-plus text-success"></i></a>
                </div>
              </div>
              <div class="col-sm-10 offset-2">
                <small class="form-text text-muted">
                  Required
                </small>
              </div>
            </div>
            <hr/>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-sm">Diagnostic coverage:</label>
              <div class="col-sm-1">
                {{ form.diagnostic_coverage }}
              </div>
            </div>
            <hr/>



            {% if failuremode.distribution.type == 'Probability' %}
              <fieldset class="form-fieldset">
                <h4>Distribution</h4>
                <div class="form-group row px-3">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Type:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.type }}"
                        name="type"
                        disabled
                    />

                  </div>
                </div>
                <hr/>
                <div class="form-group row px-3">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Probability:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.probability }}"
                        name="probability"
                    />
                  </div>
                </div>
                <hr/>
              </fieldset>

            {% elif failuremode.distribution.type == 'Exponential' %}
              <fieldset class="form-fieldset">
                <h4>Distribution</h4>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Type:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.type }}"
                        name="type"
                        disabled
                    />
                  </div>
                </div>
                <hr/>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Exponential failure rate:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.exponential_failure_rate }}"
                        name="exponential_failure_rate"
                    />
                  </div>
                </div>
                <hr/>
              </fieldset>

            {% elif failuremode.distribution.type == 'Weibull' %}
              <fieldset class="form-fieldset">
                <h4>Distribution</h4>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Type:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.type }}"
                        name="type"
                        disabled
                    />
                  </div>
                </div>
                <hr/>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Scale:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.scale }}"
                        name="scale"
                    />
                    <small class="text-muted">Hours</small>
                  </div>
                </div>
                <hr/>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Form:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.form }}"
                        name="form"
                    />
                  </div>
                </div>
                <hr/>
              </fieldset>

            {% elif failuremode.distribution.type == 'Step' %}
              <fieldset class="form-fieldset">
                <h4>Distribution ATSV</h4>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">type:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.type }}"
                        name="type"
                        disabled
                    />
                  </div>
                </div>
                <hr/>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Inital failure rate:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.initial_failure_rate }}"
                        name="initial_failure_rate"
                    />
                  </div>
                </div>
                <hr/>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Cycle size:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.cycle.size }}"
                        name="cycle_size"
                    />
                    <small class="text-muted">Cycle hours</small>
                  </div>
                </div>
                <hr/>
                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Cycle limit:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.cycle.limit }}"
                        name="cycle_limit"
                    />
                  </div>
                </div>
                <hr/>

                <div class="form-group row px-2">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Cycle value:</label>
                  <div class="col-sm-2">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        value="{{ failuremode.distribution.cycle.value }}"
                        name="cycle_value"
                    />
                    <small class="text-muted">For each test we have this percent of damage on the component</small>
                  </div>
                </div>
                <hr/>
              </fieldset>

            {% endif %}

            <div class="card p-2 bg-light text-right">
              <div class="d-flex">
                <button type="submit" class="btn btn-danger">
                  Delete
                </button>
                <div class="ml-auto">
                  <button type="submit" class="btn btn-secondary">
                    Save and add another
                  </button>
                  <button type="submit" class="btn btn-primary">
                    SAVE
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      document.getElementById("fmForm").onsubmit = function (e) {
          e.preventDefault();

          const request = new XMLHttpRequest();
          let formData = new FormData();
          let distribution = {};

          formData.append('csrfmiddlewaretoken', this.csrfmiddlewaretoken.value)
          formData.append('name', this.name.value)
          formData.append('component', this.component.value)
          formData.append('diagnostic_coverage', this.diagnostic_coverage.value)

          let type = this.type.value
          distribution.type = type

          switch (type) {
              case 'Probability':
                  distribution.probability = this.probability.value
                  break;
              case 'Exponential':
                  distribution.exponential_failure_rate = this.exponential_failure_rate.value
                  break;
              case 'Step':
                  distribution.cycle = {}
                  distribution.cycle.limit = this.cycle_limit.value
                  distribution.cycle.size = this.cycle_size.value
                  distribution.cycle.value = this.cycle_value.value
                  distribution.initial_failure_rate = this.initial_failure_rate.value
                  break;
              case 'Weibull':
                  distribution.form = this.form.value;
                  distribution.scale = this.scale.value;
                  break;
              default:
                  break;
          }

          formData.append('distribution', JSON.stringify(distribution))

          request.open("post", "{{ request.path }}")
          request.send(formData)

          request.onreadystatechange = function () {
              console.log(this.response)
              let res = JSON.parse(this.response)
              if (this.readyState == 4 && this.status == 200) {
                  let messageList = document.getElementById("messageList")
                  messageList.innerHTML = `<li class='success'>${res.message}</li>`
                  window.scrollTo(0, 0);
              }
          };

      }


      // Query all input fields
      var form_fields = document.getElementsByTagName('input')
      // customization of form fields
      for (var field in form_fields) {
          if (form_fields[field].type == 'file') continue
          form_fields[field].className += 'form-control form-control-sm'
      }

      // Query all selects fields
      var form_fields = document.getElementsByTagName('select')
      // customization of form fields
      for (var field in form_fields) {
          form_fields[field].className += 'form-control form-control-sm'
      }
  </script>
{% endblock %}