{% extends 'base.html' %}

{% block breadcrumb %}
<!-- breadcrumb -->
<div class="page-title">
  <div class="container-fluid px-5">
    <div class="page-title-wrapper-2">
      <div class="page-title-heading-2">
        <a href="{% url 'bops:index' campaign.bop.pk %}">{{ campaign.bop }}</a>
        <span class="fa fa-chevron-right"></span>
        <span class="current-page">{{ campaign.name }}</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
{% if messages %}
<ul class="messagelist">
  {% for message in messages %}
  <li class="success">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<!-- main -->
<div class="main">
  <!-- section 2 -->
  <div class="section">
    <div class="container-fluid px-5">
      <!-- section title -->
      <div class="section-title mb-3">
        <p>Dashboard for campaign</p>
        <div>
          <a href="{% url 'campaigns:run' campaign.pk %}" class="btn btn-sm btn-success mr-2">
            <small>RUN</small>
          </a>
          <a href="" class="btn btn-sm btn-warning mr-2">
            <small>EDIT
              <i class="fa fa-pencil-alt"></i></small>
          </a>
          <a href="" class="btn btn-sm btn-danger"><small>DELETE <i
              class="fa fa-times"></i></small>
          </a>
        </div>
      </div>
      <hr>

      <!-- section content -->
      <div class="row">
        <div class="col-sm-3 col-12">
          <div class="results">
            <div class="d-flex  px-1">
              <h4 class="title-1 mr-auto">Schemas</h4>
              <a href="" class="mr-4">all <i class="fa fa-pencil-alt text-warning"></i></a>
              <a href="{% url 'campaigns:create_schema' campaign.pk %}" class="">add schema <i class="fa fa-plus
                text-success"></i></a>
            </div>

            <table class="table dnv-table m-0">
              <thead class="bg-white-50">
              <tr>
                <th scope="col">name</th>
              </tr>
              </thead>
              <tbody>
              {% for schema in campaign.schemas.all %}
              <tr>
                <td><a href="">{{ schema.name }}</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
        </div>

        <div class="col-sm-6 col-12">
          <div class="results">
            <div class="d-flex  px-1">
              <h4 class="title-1 mr-auto">Events</h4>
              <a href="" class="mr-4">all <i class="fa fa-pencil-alt text-warning"></i></a>
              <a href="{% url 'events:create' campaign.pk %}" class="">add event <i
                  class="fa fa-plus text-success"></i></a>
            </div>

            <table class="table dnv-table m-0">
              <thead class="bg-white-50">
              <tr>
                <th scope="col">name</th>
                <th scope="col">type</th>
                <th scope="col">date</th>
              </tr>
              </thead>
              <tbody>
              <!--                {% for event in campaign.events.all %}-->
              <!--                  <tr>-->
              <!--                    <td><a href="">{{ event.name }}</a></td>-->
              <!--                    <td><a href="">{{ event.type }}</a></td>-->
              <!--                    <td><a href="">-->
              <!--                      {{ event.date|date:"m/d/Y" }}-->
              <!--                    </a></td>-->
              <!--                  </tr>-->
              <!--                {% endfor %}-->
              </tbody>
            </table>

          </div>
        </div>

        <div class="col-sm-3">
          <div class="info">
            <h4>Info</h4>
            <ul class="info-list">
              <li>name: <b>{{ campaign.name }}</b></li>
              <li>start date: <b>{{ campaign.start_date | date:"m/d/Y" }}</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- main -->
{% endblock %}
