{% extends 'base.html' %}
{% load static %}
{% load manager_extras %}


{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container-fluix px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'dashboard' %}">Home</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'list_bops' %}">Bops</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'index_bop' bop_pk %}">{{ bop_pk }}</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page">Campaigns</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  {% for message in messages %}
    <ul class="messagelist">
      <li class="success">{{ message }}</li>
    </ul>
  {% endfor %}
  <!-- main -->
  <div class="main">

    <!-- section 2 -->
    <div class="section">
      <div class="container-fluid px-5">
        <div class="section-title mb-3">
          <p>Select campaigns to manage</p>
        </div>
        <hr>
        <div class="section-content">
          <div class="d-flex">
            <div class="ml-auto">
{#              <a href="{% url 'create_campaign' campaigns.first.bop.pk %}" class="ml-auto btn btn-sm#}
{#              btn-success"><small>ADD CAMPAIGN <i#}
{#                  class="fa fa-plus"></i></small> </a>#}
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <div class="toolbar ml-auto px-3 py-2 mb-3">
                <div class="search-bar">
                  <form class="form-inline my-2 my-lg-0">
                    <label for="" class="mr-2"><i class="fa fa-search"></i></label>
                    <input class="form-control form-control-sm mr-sm-2" type="search" aria-label="Search">
                    <button class="" type="submit">
                      Search
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- table list of campaigns -->
            <div class="col-12">
              <div class="list">
                <div class="table-responsive">
                  <table class="table m-0 table-hover dnv-table" id="campaignsTable">
                    <thead class="">
                    <tr>
                      <th scope="col" width="3%">ID</th>
                      <th scope="col">name</th>
                      <th scope="col" style="text-align: center;">
                        active
                      </th>
                      <th scope="col" style="text-align: center;">campaign period</th>
                      <th scope="col" style="text-align: center;">
                        operation days
                      </th>
                      <th scope="col" style="text-align: center;">
                        downtime days
                      </th>

                    </tr>
                    </thead>
                    <!-- order -->
                    <tbody>
                    {% for campaign in campaigns %}
                      <tr>
                        <td scope="row" align="center">{{ campaign.pk }} a</td>
{#                        <td><a href="{% url 'update_campaign' bop.pk campaign.pk %}">{{ campaign.name }}</a></td>#}
                        <td align="center">
                          {% if campaign.active %}
                            <img src="{% static 'img/icon-yes.svg' %}"/>
                          {% else %}
                            <img src="{% static 'img/icon-no.svg' %}"/>
                          {% endif %}
                        </td>
                        <td align="center">
                          03/08/2020 <b>to</b> current date
                        </td>
                        <td align="center">
                          53
                        </td>
                        <td align="center">
                          2
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

{% endblock %}
