{% extends 'base.html' %}
{% load static %}
{% load manager_extras %}



{% block breadcrumb %}
  <div class="page-title">
    <div class="container-fluid px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'bops:index' bop_pk %}">Bop</a>
          <span class="fa fa-chevron-right"></span>
          {% if campaign %}
            <span class="current-page">{{ campaign.name }}</span>
          {% else %}
            <span class="current-page">Add new campaign</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="section bg-white">
    <div class="container-fluid px-5">
      {% if campaign %}
        <h4 class="title-1 mb-4">Change Campaign</h4>
      {% else %}
        <h4 class="title-1 mb-4">Add Campaign</h4>
      {% endif %}
      <div class="section-content">
        <div class="row">
          <div class="col-sm-12">
            <form method="POST" id="campaignForm">
              {% csrf_token %}
              <input type="hidden" id="bopId" value="{{ bop_pk }}" name="bop">

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Name:</label>
                <div class="col-sm-3">
                  {{ form.name }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Description:</label>
                <div class="col-sm-3">
                  {{ form.description }}
                  <small class="form-text text-muted">
                    Optional.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Active:</label>
                <div class="col-sm-3">
                  {{ form.active }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Start Date:</label>
                <div class="col-sm-2">
                  {{ form.start_date }}
                  <small class="form-text text-muted">
                    Note: you are 3 hours behind server time.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">End Date:</label>
                <div class="col-sm-2">
                  {{ form.end_date }}
                  <small class="form-text text-muted">
                    Note: you are 3 hours behind server time.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Well Name:</label>
                <div class="col-sm-3">
                  {{ form.well_name }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <fieldset class="form-fieldset">
                <h4>Phases</h4>
                <div id="app" class="container">
                  <ul>
                    <li v-for="person in people">
                      <a v-bind:href="person.url">[[ person.name ]]</a>
                      <button v-on:click="greet(person.name)">hey</button>
                    </li>
                  </ul>
                  <div class="form-group row">
                    <input
                        class="form-control form-control-sm col-2 mr-2"
                        placeholder="phase name"
                        id="name"
                        required
                        v-model="phase.name"
                        name="name"
                    />
                    <input
                        class="form-control form-control-sm col-2 mr-2"
                        id="start_date"
                        type="datetime-local"
                        required
                        v-model="phase.start_date"
                        name="start_date"
                    />
                    <select
                        class="form-control form-control-sm col-2 mr-2"
                        id="step"
                        required
                        v-model="phase.step"
                        name="step"
                    >
                      <option v-for="option in step_options" value="option.value">
                        [[option.text]]
                      </option>
                    </select>

                  </div>
                </div>


                <table>
                  <tbody id="phases_list"></tbody>
                </table>
              </fieldset>

              <div class="card p-2 bg-light text-right">
                <div class="d-flex">
                  <div>
                    <a href="{% url 'bops:index' bop_pk %}" class="btn btn-danger">Cancel</a>
                  </div>
                  <div class="ml-auto">
                    <button type="submit" class="btn btn-secondary">
                      Save and add another
                    </button>
                    <button type="submit" class="btn btn-primary">
                      SAVE
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
      let people = {{ items_json|safe }};
      const app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
              step_options: [
                  {value: 1, text: 'descend'},
                  {value: 2, text: 'connect'},
                  {value: 3, text: 'drilling'},
                  {value: 4, text: 'disconnect'},
                  {value: 5, text: 'test'}
              ],
              phases: [],
              phase: {
                  name: '',
                  start_date: null,
                  duration: 0,
                  step: null,
              }
          },
          methods: {
              addPhase: function (name, start_date, duration, step, test_groups) {
                  console.log('Hello from ' + name + '!')
              }
          }
      });
  </script>
  {#  <script src="{% static 'js/SelectPhase.js' %}"></script>#}
  {#  <script>#}
  {#      // Query all input fields#}
  {#      var form_fields = document.getElementsByTagName('input')#}
  {#      // customization of form fields#}
  {#      for (var field in form_fields) {#}
  {#          if (form_fields[field].type == 'checkbox') continue#}
  {#          form_fields[field].className += 'form-control form-control-sm'#}
  {#      }#}
  {##}
  {#      // Query all textarea fields#}
  {#      var form_fields = document.getElementsByTagName('textarea')#}
  {#      for (var field in form_fields) {#}
  {#          form_fields[field].className += 'form-control form-control-sm'#}
  {#      }#}
  {##}
  {#      // Query all select fields#}
  {#      var form_fields = document.getElementsByTagName('select')#}
  {#      for (var field in form_fields) {#}
  {#          form_fields[field].className += 'form-control form-control-sm'#}
  {#      }#}
  {#  </script>#}
{% endblock %}
