{% extends 'base.html' %}

{% block breadcrumb %}
    <!-- breadcrumb -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>



    <div class="page-title">
        <div class="container-fluix px-5">
            <div class="page-title-wrapper-2">
                <div class="page-title-heading-2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li class="success">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- main -->
    <div class="main">
        <!-- section 2 -->
        <div class="section">
            <div class="container-fluid px-5">
                <!-- section title -->
                <div class="section-title mb-3">
                    <p>Dashboard for campaign</p>
                    <div>
                        <a href="" class="btn btn-sm btn-success mr-2">
                            <small>RUN</small>
                        </a>
                        <a href="" class="btn btn-sm btn-warning mr-2">
                            <small>EDIT
                                <i class="fa fa-pencil-alt"></i></small>
                        </a>
                        <a href="" class="btn btn-sm btn-danger"><small>DELETE <i
                                class="fa fa-times"></i></small>
                        </a>
                    </div>
                </div>
                <hr>

                <!-- section content -->
                <div class="row">
                    <div class="col-6">

                        <div id="container1"></div>


                    </div>
                    <div class="col-6">


                        <div id="container2"></div>

                    </div>
</div>
                 <div class="row">
                    <div class="col-6">

                        <div id="container3"></div>


                    </div>
                    <div class="col-6">


                        <div id="container4"></div>

                    </div>
</div>

            </div>
        </div>

    </div>
    <!-- main -->

    {% block script %}
        <script>
            {% for data in data_to_charts %}
                Highcharts.stockChart('container{{ forloop.counter }}', {


                    chart: {
                        type: 'spline',
                        height: '450',
                    },

                    rangeSelector: {

                        buttons: [
                            {
                                type: 'all',
                                text: 'Op. Limit',

                            },
                            {
                                type: 'year',
                                count: 1,
                                text: '1y'
                            }, {
                                type: 'all',
                                text: 'All'
                            }
                        ],
                        buttonTheme: {
                            width: 60
                        },
                    },
                    title: {
                        text: 'sf teste'
                    },


                    yAxis: {


                        type: 'logarithmic',
                        min: 0.000001,
                        max: 0.5,

                        labels: {
                            formatter: function () {
                                return this.value.toExponential(1);
                            }
                        },

                        plotLines: [

                            {value: {{0.01}}, width: 1, color: 'red', dashStyle: 'ShortDash', label: {text: "SIL 1"}},
                            {value: {{0.001}}, width: 1, color: 'orange', dashStyle: 'ShortDash', label: {text: "SIL 2"}},
                            {value: {{0.0001}}, width: 1,  dashStyle: 'ShortDash', label: {text: "SIL 3"}},

                        ]},

                    xAxis: {

                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            month: '%e. %b',

                        },


                        accessibility: {
                            rangeDescription: 'operational days'
                        }
                    },

                    legend: {
                        enabled: true,
                        align: 'left'
                    },


                    plotOptions: {

                        series: {
                            pointStart: Date.UTC({{campaign.start_date.year}}, {{campaign.start_date.month}} - 1, {{campaign.start_date.day}}), // start date
                            pointInterval: 3600 * 1000 // one hour in miliseconds
                        }
                    },

                    series: [{
                        color: '#337ab7',
                        name: 'Normal',
                        tooltip: {},

                        data: {{data.result | safe}},


                    },
                        {
                            color: '#337ab7',
                            name: 'Average',
                            tooltip: {},
                            dashStyle: 'shortdash',
                            data: {{data.average | safe}},


                        },



                    ],


                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 400
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]


                    }


                });
            {% endfor %}
        </script>
    {% endblock %}


{% endblock %}
