{% extends 'base.html' %}
{% load manager_extras %}

{% block breadcrumb %}
  <div class="page-title">
    <div class="container-fluid px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'dashboard' %}">Home</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'list_campaigns' bop.pk %}">Bop: {{ bop.name }}</a>
          <span class="fa fa-chevron-right"></span>
          {% if campaign %}
            <span class="current-page">{{ campaign.name }}</span>
          {% else %}
            <span class="current-page">Add new campaign</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}

  <div class="section bg-white">
    <div class="container-fluid px-5">
      <div class="section-title mb-4 d-flex">
        {% if campaign %}
          <p>Change Campaign</p>
        {% else %}
          <p>Add Campaign</p>
        {% endif %}
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-sm-12">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">Well Name:</label>
                <div class="col-sm-5">
                  {{ form.well_name }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">Campaign Name:</label>
                <div class="col-sm-5">
                  {{ form.name }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">Description:</label>
                <div class="col-sm-5">
                  {{ form.description }}
                  <small class="form-text text-muted">
                    Optional.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">Active:</label>
                <div class="col-sm-5">
                  {{ form.active }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">Start Date:</label>
                <div class="col-sm-3">
                  {{ form.start_date }}
                  <small class="form-text text-muted">
                    Note: you are 3 hours behind server time.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">End Date:</label>
                <div class="col-sm-3">
                  {{ form.end_date }}
                  <small class="form-text text-muted">
                    Note: you are 3 hours behind server time.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="card p-2 bg-light text-right">
                <div class="d-flex">

                  <div class="ml-auto">
                    <button type="submit" class="btn btn-secondary">
                      Save and add another
                    </button>
                    <button type="submit" class="btn btn-primary">
                      SAVE
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      // Query all input fields
      var form_fields = document.getElementsByTagName('input')
      // customization of form fields
      for (var field in form_fields) {
          if (form_fields[field].type == 'checkbox') continue
          form_fields[field].className += 'form-control form-control-sm'
      }

      // Query all textarea fields
      var form_fields = document.getElementsByTagName('textarea')
      for (var field in form_fields) {
          form_fields[field].className += 'form-control form-control-sm'
      }

      // Query all select fields
      var form_fields = document.getElementsByTagName('select')
      for (var field in form_fields) {
          form_fields[field].className += 'form-control form-control-sm'
      }
  </script>
{% endblock %}
