<!-- section subheader -->
<div class="section-header bg-quinary">
  <nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a href="{% url 'list_bop__campaigns' pk=bop.pk %}" class="nav-link">
          <i class="fa fa-chess-rook"></i>
          Campaings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="fas fa-folder-open"></i>
          Summary of Results</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="fa fa-poll"></i>
          Detailed Results</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="fa fa-sitemap"></i>
          Hierarchy</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="fa fa-clipboard-list"></i>
          Event Logger</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="fa fa-vial"></i>
          Test Planner</a>
      </li>
    </ul>
  </nav>
</div>