{% extends 'base.html' %}
{% load static %}
{% load manager_extras %}

{% block breadcrumb %}
  <div class="page-title">
    <div class="container-fluid px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'campaigns:index' phase.campaign.pk %}">{{ phase.campaign }}</a>
          <span class="fa fa-chevron-right"></span>
          {% if phase %}
            <span class="current-page">{{ phase.name }}</span>
          {% else %}
            <span class="current-page">Add new campaign</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main %}
  {% if form.errors %}
    {{ form.errors }}
  {% endif %}
  <div class="section bg-white">
    <div class="container-fluid px-5">
      {% if phase %}
        <h4 class="title-1 mb-4">Change Phase</h4>
      {% else %}
        <h4 class="title-1 mb-4">Add Phase</h4>
      {% endif %}
      <div class="section-content">
        <div class="row">
          <div class="col-sm-12">
            <form method="POST" id="phaseForm">
              {% csrf_token %}

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Name:</label>
                <div class="col-sm-3">
                  {{ form.name }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>


              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">duration:</label>
                <div class="col-sm-3">
                  {{ form.duration }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Start date:</label>
                <div class="col-sm-3">
                  {{ form.start_date }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">step:</label>
                <div class="col-sm-3">
                  {{ form.step }}
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                <label class="col-sm-1 col-form-label col-form-label-sm">Groups:</label>
                <div class="col-sm-3">
                  <select name="test_groups" id="testGroups" multiple>
                    {% for test_group in test_groups %}
                      {% if test_group in phase.schedule.test_groups.all %}
                        <option selected value="{{ test_group.pk }}">{{ test_group }}</option>
                      {% else %}
                        <option value="{{ test_group.pk }}">{{ test_group }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <small class="form-text text-muted">
                    Required.
                  </small>
                </div>
              </div>
              <hr/>

              <div class="card p-2 bg-light text-right">
                <div class="d-flex">
                  <div>
                    <a href="{% url 'campaigns:index' phase.campaign.pk %}" class="btn btn-danger">Cancel</a>
                  </div>
                  <div class="ml-auto">

                    <button type="submit" class="btn btn-primary">
                      SAVE
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      // Query all input fields
      var form_fields = document.getElementsByTagName('input')
      // customization of form fields
      for (var field in form_fields) {
          if (form_fields[field].type == 'checkbox') continue
          form_fields[field].className += 'form-control form-control-sm'
      }

      // Query all textarea fields
      var form_fields = document.getElementsByTagName('textarea')
      for (var field in form_fields) {
          form_fields[field].className += 'form-control form-control-sm'
      }

      // Query all select fields
      var form_fields = document.getElementsByTagName('select')
      for (var field in form_fields) {
          form_fields[field].className += 'form-control form-control-sm'
      }

      window.addEventListener('load', function (e) {
          let step = document.getElementById('id_step');
          let test_groups = document.getElementById('testGroups');
          if (step.value != 5)
              test_groups.classList.add('d-none');

          step.addEventListener('change', function (e) {
              if (this.value != 5) {
                  test_groups.classList.add('d-none')
              } else {
                  test_groups.classList.remove('d-none')
              }
          })
      })
  </script>
{% endblock %}
