{% extends 'base.html' %}
{% load static %}

{% block extra_menu %}
{% include 'common/bop_menu.html' %}
{% endblock %}

{% block main %}

{% include 'snippets/messages.html' with messages=messages %}

<div class="section container-fluid px-5">


  <!-- section title -->
  <div class="section-title mb-3">
    <div class="d-flex flex-column">
      <a href="{% url 'campaigns:index' campaign.pk %}" class="mb-3">
        <i class="fa fa-arrow-left"></i> back to campaign planner
      </a>
      <h2>Schema Compare</h2>
      <p>Comparing schemas for campaign <b>{{ campaign }}</b></p>
    </div>
    <div>
      <a href="" class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#confirmChanges">
        Save Changes <i class="fas fa-lock-open"></i>
      </a>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 col-12">
      <div class="toolbar ml-auto px-3 py-2 mb-3 d-flex">
        <div class="search-bar">
          <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'campaigns:compare_sf' campaign.pk %}">
            <label for="" class="mr-2">Select safety function: </label>

            <select name="sf_number" id="" class="form-control form-control-sm mr-2">
              <option value="">--</option>
              {% for sf in safety_functions %}
              <option value="1">{{ sf.name }}</option>
              {% endfor %}
            </select>
            <button class="" type="submit">
              Compare
            </button>
          </form>
        </div>
        <div class="ml-auto btn-group" role="group" aria-label="...">
          <a data-name="max" type="button" class="btn-standard active toggle-table" style="font-size: 12px">Compare by
            Max</a>
          <a data-name="average" type="button" class="btn-standard toggle-table" style="font-size: 12px">Compare by
            average</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-content">

    <div class="row">
      <div class="col-12">
        <!-- start form -->
        <form method="POST" action="{% url 'campaigns:index' campaign.pk %}">
          <!-- table content max -->
          <div id="max" style="display: none" class="table-responsive text-nowrap table-fixed table-results">
            <table class="table table-results">
              <thead>
                <tr>
                  <th colspan="3"></th>
                  <!-- SF's -->
                  {% for sf in safety_functions %}
                  <th class="title" colspan="3" style="text-align: center">{{ sf.name }}</th>
                  <th></th>
                  {% endfor %}
                </tr>

                <tr>
                  <th colspan="3"></th>
                  {% for sf in safety_functions %}
                  <td class="cell">Maximo</td>
                  <td class="cell" align="center">SIL Value</td>
                  <td class="cell" align="center">Rel. Compar</td>
                  <td></td>
                  {% endfor %}
                </tr>

              </thead>
              <tbody>
                {% for schema in maxi %}
                <tr>
                  <td colspan="3">
                    <div class="form-check">
                      {% if campaign.schema_active.name == schema.0 %}
                      <input class="form-check-input" type="radio" name="schema_name" id="schema{{forloop.counter}}"
                        value="{{schema.0}}" checked>
                      {% else %}
                      <input class="form-check-input" type="radio" name="schema_name" id="schema{{forloop.counter}}"
                        value="{{schema.0}}">
                      {% endif %}
                      <label class="form-check-label" for="schema{{forloop.counter}}">
                        {{ schema.0 }}
                      </label>
                    </div>
                  </td>
                  {% for coluna in schema.1 %}

                  {% if coluna.0 > 0.01 %}
                  <td>
                    {{ coluna.0  | stringformat:".2e" }}
                  </td>
                  <td style="color:black;background-color: red;opacity: 0.6; text-align: center;"> 1</td>
                  {% elif coluna.0 > 0.001 %}
                  <td>
                    {{ coluna.0  | stringformat:".2e" }}
                  </td>
                  <td style="color:black;background-color: orange;opacity: 0.6; text-align: center;"> 2
                  </td>
                  {% else %}
                  <td>
                    {{ coluna.0  | stringformat:".2e" }}
                  </td>
                  <td style="color:black; background-color:  lime;opacity: 0.6; text-align: center">
                    3
                  </td>
                  {% endif %}

                  <td style="text-align: center;">{{ coluna.1  | floatformat:2 }}</td>
                  <td></td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>

        <!-- start form -->
        <form method="POST" action="{% url 'campaigns:index' campaign.pk %}">
          {% csrf_token %}
          <!-- table content average -->
          <div id="average" class="table-responsive text-nowrap table-fixed table-results">
            <table class="table table-results">
              <thead>
                <tr>
                  <th colspan="3"></th>
                  <!-- SF's -->
                  {% for sf in safety_functions %}
                  <th class="title" colspan="3" style="text-align: center">{{ sf.name }}</th>
                  <th></th>
                  {% endfor %}
                </tr>

                <tr>
                  <th colspan="3"></th>
                  {% for sf in safety_functions %}
                  <td class="cell">Average</td>
                  <td class="cell" align="center">SIL Value</td>
                  <td class="cell" align="center">Rel. Compar</td>
                  <td></td>
                  {% endfor %}
                </tr>

              </thead>
              <tbody>
                {% for schema in averages %}
                <tr>
                  <td colspan="3">
                    <div class="form-check">
                      {% if campaign.schema_active.name == schema.0 %}
                      <input class="form-check-input" type="radio" name="schema_name" id="schema{{forloop.counter}}"
                        value="{{schema.0}}" checked>
                      {% else %}
                      <input class="form-check-input" type="radio" name="schema_name" id="schema{{forloop.counter}}"
                        value="{{schema.0}}">
                      {% endif %}
                      <label class="form-check-label" for="schema{{forloop.counter}}">
                        {{ schema.0 }}
                      </label>
                    </div>
                  </td>

                  {% for coluna in schema.1 %}
                  {% if coluna.0 > 0.01 %}
                  <td>
                    {{ coluna.0  | stringformat:".2e" }}
                  </td>
                  <td style="color:black;background-color: red;opacity: 0.6; text-align: center;"> 1</td>
                  {% elif coluna.0 > 0.001 %}
                  <td>
                    {{ coluna.0  | stringformat:".2e" }}
                  </td>
                  <td style="color:black;background-color: orange;opacity: 0.6; text-align: center;"> 2
                  </td>
                  {% else %}
                  <td>
                    {{ coluna.0  | stringformat:".2e" }}
                  </td>
                  <td style="color:black; background-color:  lime;opacity: 0.6; text-align: center">
                    3
                  </td>
                  {% endif %}

                  <td style="text-align: center;">{{ coluna.1  | floatformat:2 }}</td>
                  <td></td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- ./ end table -->

          <!-- Modal -->
          <div class="modal fade" id="confirmChanges" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirm Changes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  If you click on "Save Changes" button the Campaign {{ campaign }} will get started.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form method="POST" action="{% url 'campaigns:index' campaign.pk %}">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- ./end modal -->
        </form>
        <!-- ./ end form -->
      </div>
      <!-- ./ end col -->
    </div>
    <!-- ./ end row -->
  </div>
</div>

<script>
  // toggle display table
  function toggleTable(name) {

    $('div.table-results').each(function () {
      if (name == this.id) {
        this.style.display = 'block'
      } else {
        this.style.display = 'none'
      }
    });
  }

  // toggle class active
  function toggleButton(name) {

    $('a.toggle-table').each(function () {
      if (name == this.dataset.name) {
        this.classList.add('active')
      } else {
        this.classList.remove('active')
      }
    });
  }

  window.addEventListener('load', function (e) {
    $('a.toggle-table').each(function () {
      this.addEventListener('click', function () {
        return toggleTable(this.dataset.name)
      })
      this.addEventListener('click', function () {
        return toggleButton(this.dataset.name)
      })
    });
  });

</script>


{% endblock %}