{% extends 'base.html' %}
{% load static %}
{% load manager_extras %}

{% block extra_menu %}
{% include 'common/bop_menu.html' with bop=campaign.bop %}
{% endblock %}

{% block main %}
<style>
  tr.selected {
    background-color: rgba(248, 168, 37, 0.3) !important;
  }
</style>
<div class="section" id="app">
  <div class="container-fluid px-5">
    {% if schema %}
    <div class="d-flex flex-column">
      <a href="{% url 'campaigns:index' campaign.pk %}" class="mb-3">
        <i class="fa fa-arrow-left"></i> back to campaign
      </a>
      <h4 class="title-1 mb-4">Change Schema</h4>
    </div>
    {% else %}
    <div class="d-flex flex-column">
      <a href="{% url 'campaigns:index' campaign.pk %}" class="mb-3">
        <i class="fa fa-arrow-left"></i> back to campaign
      </a>
      <h4 class="title-1 mb-4">Add Schema</h4>
    </div>
    {% endif %}
    <div class="section-content">
      <div class="row">
        <div class="col-sm-12">
          <form method="POST" id="schemaForm">
            {% csrf_token %}
            <input type="hidden" id="userId" value="{{ request.user.pk }}" name="user">
            <input type="hidden" id="bopId" value="{{ campaign.bop.pk }}" name="bop">
            <input type="hidden" id="campaignId" value="{{ campaign.pk }}" name="campaign">

            <!-- bop field -->
            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Bop:</label>
              <div class="col-sm-2">
                <select name="" disabled class="form-control form-control-sm">
                  <option value="">{{ campaign.bop }}</option>
                </select>
              </div>
            </div>
            <hr />
            <!-- campaign field -->
            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Campaign:</label>
              <div class="col-sm-2">
                <select name="" id="" disabled class="form-control form-control-sm">
                  <option value="">{{ campaign.name }}</option>
                </select>
              </div>
            </div>
            <hr />

            {% if '/change/' in request.path %}
            <input type="hidden" id="schemaId" value="{{ schema.pk }}" name="schema">
            <schema-update></schema-update>
            {% else %}
            <schema-form></schema-form>
            {% endif %}

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>

  {% endblock %}

  {% block scripts %}
  <script type="text/javascript" src="{% static 'build/app.js' %}"></script>
  {% endblock %}