{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'partials/_head.html' %}

<body>
<!-- header -->
<header>
  <!-- header top bar -->
  <div class="header-top-bar bg-primary" id="headerTopbar">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="logo mr-auto">
          <p class="text-white">by DNV GL in collaboration with Petrobras</p>
        </div>
        <ul class="navbar-nav ml-auto">
          {% if request.user.groups.all.0.name == 'Admin' %}
            <li class="nav-item mr-4">
              <a class="nav-link btn-primary" href="/manager">
                <i class="fa fa-cog"></i> Go to Manager Dashboard
              </a>
            </li>
          {% endif %}

          <li class="nav-item dropdown mr-4 d-none d-sm-block">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> {{ request.user }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'update_profile' %}"><i class=" fa fa-user-edit"></i> Profile</a>
              <a class="dropdown-item" href="{% url 'logout' %}"><i class=" fa fa-sign-out-alt"></i> Logout</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-flag"></i> Language
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Portuguese pt-BR</a>
              <a class="dropdown-item" href="#">English en-US</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- main-header -->
  <div class="main-header bg-white">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <!-- logo -->
        <a href="{% url 'dashboard' %}" class="navbar-brand text-white">
          <img src="{% static 'img/logo.png' %}" width="140" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars text-white"></span>
        </button>

        <!-- menu -->
        <div class="collapse navbar-collapse py-3" id="menu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="fa fa-home"></i>
                Main <span class="sr-only">(current)</span></a>
            </li>
            {% block nav_bop %}{% endblock %}
          </ul>

          <div class="d-block d-sm-none bg-black">
            <a href="" class="text-white btn btn-info">
              <i class="fa fa-sign-out-alt"></i>
              Logout</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- breadcrumb -->
{% block breadcrumb %} {% endblock %}
<!-- main -->
<div class="main">
  {% block main %} {% endblock %}
</div>

<!-- footer -->
{% include 'partials/_footer.html' %}

<!-- scripts -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% block scripts %}{% endblock %}
</body>

</html>