{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %} {% endblock %}</title>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet"/>
  <!-- fontawesome -->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'build/campaign.css' %}"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>

<!-- header -->
<header>
  <div class="main-header bg-primary">
    <div class="container-fluid px-5">
      <nav class="navbar navbar-expand-lg">
        <a href="{% url 'dashboard' %}" class="navbar-brand">
          <img src="{% static 'img/logo.png' %}" width="140" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars text-white"></span>
        </button>

        <!-- menu -->
        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav ml-auto">
            {% if '/' == request.path %}
              <li class="nav-item active">
              {% else %}
              <li class="nav-item ">
              {% endif %}
              <a href="{% url 'dashboard' %}" class="nav-link"><i class="fa fa-home"></i> Main</a>
            </li>

            {% block extra_menu %}{% endblock %}

            {% if request.user.groups.all.0.name == 'Admin' %}
              {% if '/manager/accounts/' in request.path %}
              <li class="nav-item active">
              {% else %}
              <li class="nav-item ">
              {% endif %}
                <a href="{% url 'list_accounts' %}" class="nav-link"><i class="fa fa-users"></i> Users</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out-alt"></i> Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- breadcrumb -->
{% block breadcrumb %} {% endblock %}

<!-- main -->
<div class="main">
  {% block main %} {% endblock %}
</div>

<!-- footer -->
{% include 'partials/_footer.html' %}

<!-- scripts -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% block scripts %}{% endblock %}
</body>

</html>
