{% extends 'base.html' %}

{% block extra_menu %}
{% include 'common/bop_menu.html' %}
{% endblock %}

{% block main %}
  {% for message in messages %}
    <ul class="messagelist">
      <li class="success">{{ message }}</li>
    </ul>
  {% endfor %}
  <!-- main -->
  <div class="main">
    <!-- section bop list -->
    <div class="section" id="home">
      <div class="container-fluid px-5">
        <div class="section-title mb-3">
          <p>Select certification to manage</p>
          <a href="" class="btn btn-sm btn-success"><small>ADD CERTIFICATION <i
              class="fa fa-plus"></i></small> </a>
        </div>

        <div class="row">
          <!-- BOP's table list -->
          <div class="col-sm-12 col-12">
            <div class="results">
              <table class="table dnv-table m-0">
                <thead class="bg-white-50">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">code</th>
                  <th scope="col">begin date</th>
                  <th scope="col">expiry date</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                  <tr>
                  <td>{{ object.id }}</td>
                  <td><a href="">{{ object.code }}</a></td>
                  <td>{{ object.start_date }}</td>
                  <td>{{ object.end_date }}</td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>

            </div>
          </div>
          <!-- end cols -->
        </div>
      </div>
      <!-- ./ container -->
    </div>
    <!-- ./ section -->
  </div>
{% endblock %}
