{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BOP | Home</title>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet" />
  <!-- fontawesome -->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
</head>

<body>
  <!-- header -->
  <header>


    <!-- header -->
    <div class="main-header bg-dark box-shadow">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <!-- logo -->
          <a href="{% url 'manager' %}" class="navbar-brand text-white py-3">
            myBarrier
          </a>
        </nav>
      </div>
    </div>
  </header>

  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="#">Home</a>
        </div>
      </div>
    </div>
  </div>

  <!-- main -->
  <div class="main">
    <div class="container">
      <div class="section">
        <h2>Logged Out</h2>
        <p>Thanks for using our system today, do you wanna log in again?</p>
        <a href="{% url 'manager' %}" class="btn btn-success mt-4">Login again</a>
      </div>
    </div>
  </div>

  <!-- footer -->
  <!-- footer -->
  <footer class="bg-dark footer">
    <div class="container">
      <div class="ml-auto">
        <p>Developed by ©DNV</p>
      </div>
    </div>
  </footer>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>