{% extends 'base.html' %}

{% block extra_menu %}
{% include 'common/bop_menu.html' with bop=campaign.bop %}
{% endblock %}

{% block main %}

<!-- breadcrumb -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.1.0/joint.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<!-- section 2 -->
<div class="section">
  <div class="container-fluid px-5">
    <!-- section title -->
    <div class="section-title">
      <div class="d-flex flex-column">
        <a href="{% url 'campaigns:index' campaign.pk %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to campaign
        </a>
        <p>
          Bop name: <b>{{ campaign.bop }}</b>
          > Campaign name: <b>{{ campaign }}</b>
          > Schema name: <b>{{ schema.name }}</b>
        </p>
      </div>
    </div>
    <hr>

    <!-- section content -->
    <div class="row">
      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
            <a href="" class="btn-standard" data-toggle="modal" data-target="#result1">View Max and Averages</a>
          </div>
          <div id="container1"></div>
          <!-- Modal -->
          <div class="modal fade" id="result1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Maximo Value Analysis</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table thead-dark table-striped " style="border:1px solid black; background-color: #FFFFFF">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col text-light"> Maximo PFD</th>
                        <th scope="col text-light"> Sil/Condition</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="col"> {{ maxi.0 | stringformat:".2e" }} </td>
                        {% if maxi.0 > 0.01 %}
                        <td
                          style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                          SIL 1
                        </td>
                        {% elif maxi.0 > 0.001 %}
                        <td
                          style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                          SIL 2
                        </td>
                        {% else %}
                        <td
                          style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                          Under Sil2
                        </td>

                        {% endif %}
                      </tr>

                    </tbody>

                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-header bg-primary">
            <a href="" class="btn-standard" data-toggle="modal" data-target="#result2">View Max and Averages</a>
          </div>
        </div>
        <div id="container2"></div>
        <!-- Modal -->
        <div class="modal fade" id="result2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Maximo Value Analysis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table thead-dark table-striped " style="border:1px solid black; background-color: #FFFFFF">
              <thead class="thead-dark">
                <h6 class="text-light bg-dark" style="text-align: center; padding: 0.5rem">Average Value
                  Analysis</h6>
                <tr>

                  <th scope="col text-light"> Average PFD</th>
                  <th scope="col text-light"> Sil/Condition</th>
                </tr>
              </thead>

              <tbody>

                <tr>

                  <td scope="col"> {{ average.1 | stringformat:".2e" }} </td>
                  {% if average.1 > 0.01 %}
                  <td
                    style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 1
                  </td>
                  {% elif average.1 > 0.001 %}
                  <td
                    style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 2
                  </td>
                  {% else %}
                  <td
                    style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                    Under Sil2
                  </td>

                  {% endif %}
                </tr>


              </tbody>

            </table>
                <table class="table thead-dark table-striped "
            style="width: 45%;border:1px solid black; background-color: #FFFFFF">
            <thead class="thead-dark">
              <h6 class="text-light bg-dark" style="width: 45%;text-align: center; padding: 0.5rem">Maximo
                Value Analysis</h6>
              <tr>

                <th scope="col text-light"> Maximo PFD</th>
                <th scope="col text-light"> Sil/Condition</th>
              </tr>
            </thead>

            <tbody>

              <tr>

                <td scope="col"> {{ maxi.1 | stringformat:".2e" }} </td>
                {% if maxi.1 > 0.01 %}
                <td
                  style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 1
                </td>
                {% elif maxi.1 > 0.001 %}
                <td
                  style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 2
                </td>
                {% else %}
                <td
                  style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                  Under Sil2
                </td>

                {% endif %}
              </tr>

            </tbody>

          </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header bg-primary">
            <a href="" class="btn-standard" data-toggle="modal" data-target="#result3">View Max and Averages</a>
          </div>
          <div id="container3"></div>
          <!-- Modal -->
          <div class="modal fade" id="result3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Maximo Value Analysis</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table thead-dark table-striped " style="border:1px solid black; background-color: #FFFFFF">
              <thead class="thead-dark">
                <h6 class="text-light bg-dark" style="text-align: center; padding: 0.5rem">Average Value
                  Analysis</h6>
                <tr>

                  <th scope="col text-light"> Average PFD</th>
                  <th scope="col text-light"> Sil/Condition</th>
                </tr>
              </thead>

              <tbody>

                <tr>

                  <td scope="col"> {{ average.2 | stringformat:".2e" }} </td>
                  {% if average.2 > 0.01 %}
                  <td
                    style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 1
                  </td>
                  {% elif average.2 > 0.001 %}
                  <td
                    style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 2
                  </td>
                  {% else %}
                  <td
                    style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                    Under Sil2
                  </td>

                  {% endif %}
                </tr>

              </tbody>

            </table>
                  <table class="table thead-dark table-striped "
            style="width: 45%;border:1px solid black; background-color: #FFFFFF">
            <thead class="thead-dark">
              <h6 class="text-light bg-dark" style="width: 45%;text-align: center; padding: 0.5rem">Maximo
                Value Analysis</h6>
              <tr>

                <th scope="col text-light"> Maximo PFD</th>
                <th scope="col text-light"> Sil/Condition</th>
              </tr>
            </thead>

            <tbody>

              <tr>

                <td scope="col"> {{ maxi.2 | stringformat:".2e" }} </td>
                {% if maxi.2 > 0.01 %}
                <td
                  style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 1
                </td>
                {% elif maxi.2 > 0.001 %}
                <td
                  style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 2
                </td>
                {% else %}
                <td
                  style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                  Under Sil2
                </td>

                {% endif %}
              </tr>

            </tbody>

          </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div id="result3" ; style="display: none;">
          <div style="width: 45%;float:right;">
            <table class="table thead-dark table-striped " style="border:1px solid black; background-color: #FFFFFF">
              <thead class="thead-dark">
                <h6 class="text-light bg-dark" style="text-align: center; padding: 0.5rem">Average Value
                  Analysis</h6>
                <tr>

                  <th scope="col text-light"> Average PFD</th>
                  <th scope="col text-light"> Sil/Condition</th>
                </tr>
              </thead>

              <tbody>

                <tr>

                  <td scope="col"> {{ average.3 | stringformat:".2e" }} </td>
                  {% if average.3 > 0.01 %}
                  <td
                    style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 1
                  </td>
                  {% elif average.3 > 0.001 %}
                  <td
                    style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 2
                  </td>
                  {% else %}
                  <td
                    style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                    Under Sil2
                  </td>

                  {% endif %}
                </tr>

              </tbody>

            </table>
          </div>
          <table class="table thead-dark table-striped "
            style="width: 45%;border:1px solid black; background-color: #FFFFFF">
            <thead class="thead-dark">
              <h6 class="text-light bg-dark" style="width: 45%;text-align: center; padding: 0.5rem">Maximo
                Value Analysis</h6>
              <tr>

                <th scope="col text-light"> Maximo PFD</th>
                <th scope="col text-light"> Sil/Condition</th>
              </tr>
            </thead>

            <tbody>

              <tr>

                <td scope="col"> {{ maxi.3 | stringformat:".2e" }} </td>
                {% if maxi.3 > 0.01 %}
                <td
                  style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 1
                </td>
                {% elif maxi.3 > 0.001 %}
                <td
                  style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 2
                </td>
                {% else %}
                <td
                  style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                  Under Sil2
                </td>

                {% endif %}
              </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div id="container5"></div>
        <div id="result3" ; style="display: none;">
          <div style="width: 45%;float:right;">

            <table class="table thead-dark table-striped " style="border:1px solid black; background-color: #FFFFFF">
              <thead class="thead-dark">
                <h6 class="text-light bg-dark" style="text-align: center; padding: 0.5rem">Average Value
                  Analysis</h6>
                <tr>

                  <th scope="col text-light"> Average PFD</th>
                  <th scope="col text-light"> Sil/Condition</th>
                </tr>
              </thead>

              <tbody>

                <tr>

                  <td scope="col"> {{ average.5 | stringformat:".2e" }} </td>
                  {% if average.5 > 0.01 %}
                  <td
                    style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 1
                  </td>
                  {% elif average.5 > 0.001 %}
                  <td
                    style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 2
                  </td>
                  {% else %}
                  <td
                    style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                    Under Sil2
                  </td>

                  {% endif %}
                </tr>

              </tbody>

            </table>
          </div>
          <table class="table thead-dark table-striped "
            style="width: 45%;border:1px solid black; background-color: #FFFFFF">
            <thead class="thead-dark">
              <h6 class="text-light bg-dark" style="width: 45%;text-align: center; padding: 0.5rem">Maximo
                Value Analysis</h6>
              <tr>

                <th scope="col text-light"> Maximo PFD</th>
                <th scope="col text-light"> Sil/Condition</th>
              </tr>
            </thead>

            <tbody>

              <tr>

                <td scope="col"> {{ maxi.5 | stringformat:".2e" }} </td>
                {% if maxi.5 > 0.01 %}
                <td
                  style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 1
                </td>
                {% elif maxi.5 > 0.001 %}
                <td
                  style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 2
                </td>
                {% else %}
                <td
                  style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                  Under Sil2
                </td>

                {% endif %}
              </tr>

            </tbody>

          </table>
        </div>


      </div>
      <div class="col-6">

        <div id="container6"></div>
        <p>
          <a class="btn btn-secondary" style="float: right; color: white" role="button" onclick="showresults3()">View
            Max and Averages &#8650; </a>
        </p>
        <div id="result3" ; style="display: none;">
          <div style="width: 45%;float:right;">


            <table class="table thead-dark table-striped " style="border:1px solid black; background-color: #FFFFFF">
              <thead class="thead-dark">
                <h6 class="text-light bg-dark" style="text-align: center; padding: 0.5rem">Average Value
                  Analysis</h6>
                <tr>

                  <th scope="col text-light"> Average PFD</th>
                  <th scope="col text-light"> Sil/Condition</th>
                </tr>
              </thead>

              <tbody>

                <tr>

                  <td scope="col"> {{ average.5 | stringformat:".2e" }} </td>
                  {% if average.5 > 0.01 %}
                  <td
                    style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 1
                  </td>
                  {% elif average.5 > 0.001 %}
                  <td
                    style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                    SIL 2
                  </td>
                  {% else %}
                  <td
                    style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                    Under Sil2
                  </td>

                  {% endif %}
                </tr>

              </tbody>

            </table>
          </div>
          <table class="table thead-dark table-striped "
            style="width: 45%;border:1px solid black; background-color: #FFFFFF">
            <thead class="thead-dark">
              <h6 class="text-light bg-dark" style="width: 45%;text-align: center; padding: 0.5rem">Maximo
                Value Analysis</h6>
              <tr>

                <th scope="col text-light"> Maximo PFD</th>
                <th scope="col text-light"> Sil/Condition</th>
              </tr>
            </thead>

            <tbody>

              <tr>

                <td scope="col"> {{ maxi.5 | stringformat:".2e" }} </td>
                {% if maxi.5 > 0.01 %}
                <td
                  style="color:black;font-weight: bold;background-color: #ec3633;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 1
                </td>
                {% elif maxi.5 > 0.001 %}
                <td
                  style="color:black;font-weight: bold;background-color: orange;opacity: 0.6; text-align: center; padding: 0.5rem">
                  SIL 2
                </td>
                {% else %}
                <td
                  style="color:black;font-weight: bold; background-color:  lime;opacity: 0.6; text-align: center; padding: 0.5rem">
                  Under Sil2
                </td>

                {% endif %}
              </tr>

            </tbody>

          </table>
        </div>


      </div>
    </div>

  </div>
  <div>
    {% for sf in safety_functions %}
    <a class="btn btn-secondary" style="float: right; color: white" role="button"
      href="{% url 'campaigns:cut_list' schema.pk sf.pk %}"> view cutlist - SF {{forloop.counter}}
    </a>
    {% endfor %}
  </div>
</div>
<!-- main -->

{% block script %}
<script>
  {% for data in data_to_charts %}
  Highcharts.stockChart('container{{ forloop.counter }}', {


    chart: {
      type: 'spline',
      height: '450',
    },

    rangeSelector: {

      buttons: [
        {
          type: 'all',
          text: 'Op. Limit',

        },
        {
          type: 'year',
          count: 1,
          text: '1y'
        }, {
          type: 'all',
          text: 'All'
        }
      ],
      buttonTheme: {
        width: 60
      },
    },
    title: {
      text: `{{ data.desc | safe }}`

    },


    yAxis: {


      type: 'logarithmic',
      min: 0.0000001,
      max: 0.3,

      labels: {
        formatter: function () {
          return this.value.toExponential(2);
        }
      },

      plotLines: [

        { value: {{ 0.1}}, width: 1, color: 'red', dashStyle: 'ShortDash', label: { text: "SIL 0" }
  },
          { value: {{ 0.01}}, width: 1, color: 'Orange', dashStyle: 'ShortDash', label: { text: "SIL 0" }
  },
  { value: {{ 0.001}}, width: 1, color: 'green', dashStyle: 'ShortDash', label: { text: "SIL 0" }
  },

                        ]
                    },

    xAxis: {

    type: 'datetime',
    dateTimeLabelFormats: { // don't display the dummy year
      month: '%e. %b',

    },


    accessibility: {
      rangeDescription: 'operational days'
    }
  },

    legend: {
    enabled: true,
    align: 'left'
  },


    plotOptions: {



    series: {


      pointStart: Date.UTC({{ campaign.start_date.year }}, {{ campaign.start_date.month }} -1, {{ campaign.start_date.day }}), // start date
      pointInterval: 3600 * 1000 // one hour in miliseconds
                        }
                    },

  series: [{
    color: '#1c588f',
    name: 'Normal',
      tooltip: {
        pointFormat: "Normal: {point.y:.6f}"
    },
    dashStyle: 'solid',
    data: {{ data.result | safe }},
                    },

  {
    color: '#74a1d0',
    name: 'Testing',
    tooltip: {},
    dashStyle: 'ShortDot',
    data: {{ data.result_teste_sf | safe }},
                    },

  {
    color: '#ff2424',
    name: 'Degraded',
    tooltip: {
          },
    dashStyle: 'Solid',
    data: {{ data.result_sf_falho | safe }},
                    },

  {
    type: 'scatter',
    color: '#1c588f',
    name: 'Today',
    marker: {
            radius: 6

        },
    data: {{ data.today_result | safe }}
    },


  {


    color: '#010101',
    name: 'Average',
    tooltip: {pointFormat: "Average: {point.y:.6f}"},
    dashStyle: 'LongDash',
    data: {{ data.average_to_chart | safe }},

                    },


  ],


    responsive: {
    rules: [{
      condition: {
        maxWidth: 400
      },
      chartOptions: {
        legend: {
          layout: 'horizontal',
          align: 'center',
          verticalAlign: 'bottom'
        }
      }
    }]


  }


                });
  {% endfor %}
</script>
{% endblock %}

{% block script2 %}
<script>

  function showresults1() {
    var x = document.getElementById("result1");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function showresults2() {
    var x = document.getElementById("result2");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function showresults3() {
    var x = document.getElementById("result3");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function showresults4() {
    var x = document.getElementById("result4");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function showresults5() {
    var x = document.getElementById("result5");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function showresults6() {
    var x = document.getElementById("result6");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

</script>
{% endblock %}
{% endblock %}
