{% extends 'base.html' %}
{% load static %}

{% block extra_menu %}
{% include 'common/bop_menu.html' %}
{% endblock %}

{% block main %}

{% include 'snippets/messages.html' with messages=messages %}

<!-- section 2 -->
<div class="section">
  <div class="container-fluid px-5">
    <!-- section title -->
    <div class="section-title mb-3">
      <div class="d-flex flex-column">
        <a href="{% url 'bops:index' campaign.bop.pk %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to bop
        </a>
        <h2>Campaign Dashboard</h2>
        <p>Bop name: <b>{{ campaign.bop }}</b> > Campaign name: <b>{{ campaign }}</b></p>
      </div>

      <div>
        <a href="{% url 'campaigns:run' campaign.pk %}" class="btn btn-success mr-2">
          <small>RUN <i class="fa fa-cogs"></i></small>
        </a>
        <a href="{% url 'campaigns:planner' campaign.pk %}" class="btn btn-sm btn-primary mr-2">
          <small>CAMPAIGN PLANNER <i class="fa fa-chart-area"></i></small>
        </a>
        <a href="{% url 'campaigns:update' campaign.pk %}" class="btn btn-sm btn-primary mr-2">
          <small>EDIT CAMPAIGN
            <i class="fa fa-pencil-alt"></i></small>
        </a>
      </div>
    </div>
    <hr>

    <!-- section content -->
    <div class="row">
      <div class="col-sm-3">
        <div class="info">
          <h4>Info</h4>
          <ul class="info-list">
            <li>name: <b>{{ campaign.name }}</b></li>
            <li class="d-flex align-items-center">
              base schema: <b>{{ campaign.get_schema_active.name }}</b>
              <a href="{% url 'campaigns:update_schema' campaign.get_schema_active.pk %}"
                class="ml-auto btn btn-standard"><small>edit</small></a>
            </li>
            <li>
              status:
              {% if campaign.active %}
              <b>Active</b> <img src="{% static 'img/icon-yes.svg' %}" alt="">
              {% else %}
              <b>Inactive</b> <img src="{% static 'img/icon-no.svg' %}" alt="">
              {% endif %}
            </li>
            <li>start date: <b>{{ campaign.start_date|date:"Y-m-d" }}</b></li>
            <li>end date: <b>{{ campaign.end_date|date:"Y-m-d" }}</b></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="results">
          <div class="d-flex  px-1">
            <h4 class="title-1 mr-auto">Events</h4>
            <a href="{% url 'campaigns:create_event' campaign.pk %}">add event <i
                class="fa fa-plus text-success"></i></a>
          </div>

          <table class="table dnv-table m-0">
            <thead class="bg-white-50">
              <tr>
                <th scope="col">type</th>
                <th scope="col">object id</th>
                <th scope="col">created at</th>
                <th scope="col">created by</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for e in campaign.events.all %}
              <tr>
                <td><a href="">{{ e.type }}</a></td>
                <td><a href="">{{ e.object_code }}</a></td>
                <td><a href="">
                    {{ e.date }}
                  </a></td>
                <td>{{e.created_by.username}}</td>
                <td width="15%">
                  <form method="post" action="{% url 'campaigns:delete_event' e.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-standard"><i class="fa fa-times text-danger"></i> delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}
