{% extends 'base.html' %}
{% load static %}
{% load manager_extras %}

{% block main %}

<div class="section" id="app">
  <div class="container-fluid px-5">
    {% if campaign %}
    <div class="d-flex flex-column">
      <a href="{% url 'campaigns:index' campaign.pk %}" class="mb-3">
        <i class="fa fa-arrow-left"></i> back
      </a>
      <h4 class="title-1 mb-4">Update campaign</h4>
    </div>
    {% else %}
    <div class="d-flex flex-column">
      <a href="{% url 'bops:index' bop_pk %}" class="mb-3">
        <i class="fa fa-arrow-left"></i> back to bop dashboard
      </a>
      <h4 class="title-1 mb-4">Add campaign</h4>
    </div>
    {% endif %}
    <div class="section-content">
      <div class="row">
        <div class="col-sm-12">
          <form method="POST" id="campaignForm">
            {% csrf_token %}
            <input type="hidden" id="bopId" value="{{ bop_pk }}" name="bop">

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Name:</label>
              <div class="col-sm-3">
                {{ form.name }}
                <small class="form-text text-muted">
                  Required.
                </small>
              </div>
            </div>
            <hr />

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Description:</label>
              <div class="col-sm-3">
                {{ form.description }}
                <small class="form-text text-muted">
                  Optional.
                </small>
              </div>
            </div>
            <hr />

            <div class="form-group row">
              <label class="col-sm-1 col-form-label col-form-label-sm">Well Name:</label>
              <div class="col-sm-3">
                {{ form.well_name }}
                <small class="form-text text-muted">
                  Required.
                </small>
              </div>
            </div>
            <hr />

            <div class="card p-2 bg-light text-right">
              <div class="d-flex">
                <div class="ml-auto">
                  {% if campaign %}
                  <a href="{% url 'campaigns:index' campaign.pk %}" class="btn">
                    cancel
                  </a>
                  {% else %}
                  <a href="{% url 'bops:index' bop_pk %}" class="btn">
                    cancel
                  </a>
                  {% endif %}

                  <button type="submit" class="btn btn-primary">
                    SAVE
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}