{% extends 'base.html' %}
{% load static %}

{% block extra_menu %}
{% include 'common/bop_menu.html' with bop=campaign.bop %}
{% endblock %}

{% block main %}

<div class="bg-success py-2 px-4" role="alert" id="task_alert" style="display: none">
  <img src="{% static 'img/loading.gif' %}" class="mr-2" alt="" width="20">
  <p class="text-white">Please wait a few seconds while we compare the schemas for you.</p>
</div>

{% include 'snippets/messages.html' with messages=messages %}

<!-- section 2 -->
<div class="section">


  <div class="container-fluid px-5">
    <!-- section title -->
    <div class="section-title mb-3">
      <div class="d-flex flex-column">
        {% if campaign.active %}
        <a href="{% url 'campaigns:index' campaign.pk %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to campaign dashboard
        </a>
        {% else %}
        <a href="{% url 'bops:index' campaign.bop.pk %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to bop dashboard
        </a>
        {% endif %}

        <h2>Campaign Planner <i id="spin" class="fas fa-sync-alt fa-spin d-none"></i></h2>
        <p>Bop name: <b>{{ campaign.bop }}</b> > Campaign name: <b>{{ campaign }}</b></p>
        <small></small>
        {% if campaign.active %}
        <small class="text-warning"><b>WARNING:</b>NOTE THIS CAMPAIGN IS CURRENT ACTIVE</small>
        {% endif %}
      </div>
      <div>
        <a id="btnCompare" href="{% url 'campaigns:compare' campaign.pk %}" id="toggleLoading"
          class="btn-standard-lg mr-2 ">
          Schema Comparison
        </a>
        <a href="{% url 'campaigns:update' campaign.pk %}" class="btn-standard-lg mr-2">
          <small>EDIT
            <i class="fa fa-pencil-alt text-warning"></i></small>
        </a>
      </div>
    </div>
    <hr>

    <!-- section content -->
    <div class="row">
      <div class="col-sm-9 col-12">
        <div class="results">
          <div class="d-flex  px-1">
            <h4 class="title-1 mr-auto">Schemas</h4>
            <a href="{% url 'campaigns:create_schema' campaign.pk %}" class="">add schema <i class="fa fa-plus
                text-success"></i></a>
          </div>

          <table class="table dnv-table m-0">
            <thead class="bg-white-50">
              <tr>
                <th scope="col">name</th>
                <th style="text-align: center;">base case</th>
                <th style="text-align: center;">actions</th>
              </tr>
            </thead>
            <tbody>
              {% for schema in campaign.schemas.all %}
              <tr>
                <td>
                  <a href="{% url 'campaigns:update_schema' schema.pk %}">{{ schema.name }}</a>
                </td>

                <td align="center">
                  {% if schema.is_default %}
                  <img src="{% static 'img/icon-yes.svg' %}" />
                  {% endif %}
                </td>

                <td align="center" width="30%">
                  <!-- see results -->
                  <a class="btn-standard" href="{% url 'campaigns:metrics' campaign.pk %}">
                    <i class="fa fa-file text-secondary"></i> results</a>
                  <!-- delete -->
                  <a class="btn-standard" href="{% url 'campaigns:delete_schema' schema.pk %}"><i
                      class="fa fa-times text-danger"></i> delete</a>
                  <!-- clone schema -->
                  <a href="{% url 'campaigns:clone_schema' schema.pk %}" class="btn-standard">
                    <i class="fas fa-clone text-warning"> </i> clone
                  </a>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

      <div class="col-sm-3">
        <div class="info">
          <h4>Info</h4>
          <ul class="info-list">
            <li>name: <b>{{ campaign.name }}</b></li>
            <li>base schema: <b>{{ campaign.get_schema_active.name }}</b></li>
            <li>BOP name: <b>{{ campaign.bop.name }}</b></li>
            <li>
              status:
              {% if campaign.active %}
              <b>Active</b> <img src="{% static 'img/icon-yes.svg' %}" alt="">
              {% else %}
              <b>Inactive</b> <img src="{% static 'img/icon-no.svg' %}" alt="">
              {% endif %}
            </li>
            <li>start date: <b>{{ campaign.start_date|date:"Y-m-d" }}</b></li>
            <li>end date: <b>{{ campaign.end_date|date:"Y-m-d" }}</b></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalLoading">
  <img src="{% static 'img/loading.gif' %}" width="30" alt="">
  <p>Calculating...</p>
</div>


{% endblock %}

{% block scripts %}
<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 4000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  window.addEventListener('load', function (e) {
    const userId = JSON.parse(document.getElementById('userId').textContent);

    const notificationSocket = new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/notifications/'
      + userId
      + '/'
    );

    notificationSocket.onmessage = async function (e) {
      const data = JSON.parse(e.data);
      console.log(data)
      let unreaded_notifications = JSON.parse(data.unreaded_notifications);

      unreaded_notifications.map(notification => {
        if (notification.fields.group == 'c') {
          $('#btnCompare').addClass('disabled');
          let btn = document.getElementById('btnCompare');
          btn.text = 'Comparing Schemas...';
          btn.style = 'cursor: not-allowed';

          $('#spin').removeClass('d-none')
        }

        if (notification.fields.group == 'd') {
          $('#btnCompare').removeClass('disabled');
          let btn = document.getElementById('btnCompare');
          btn.text = 'Schema Comparison';
          btn.style = '';

          $('#spin').addClass('d-none')
        }
      });
    };

    notificationSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    const campaignSocket = new WebSocket(
      'ws://'
      + window.location.host
      + '/ws/campaigns/'
      + userId
      + '/'
    );

    campaignSocket.onmessage = async function (e) {
      const data = JSON.parse(e.data);

      Toast.fire({
        icon: 'success',
        title: data.message
      }).then(() => {
        console.log('finished')
      })
    }
  });
</script>
{% endblock %}
