{% extends 'base.html' %}
{% load static %}

{% block extra_menu %}
{% include 'common/bop_menu.html' %}
{% endblock %}

{% block main %}

{% include 'snippets/messages.html' with messages=messages %}

{% if bop.is_outdated %}
<div class="alert alert-warning" role="alert" id="outdatedMessage">
  <b><i class="fas fa-exclamation-triangle"></i> Warning</b> You've made significant changes on this campaign, to see updated results, please, run it again.
</div>
{% endif %}
<!-- section 2 -->
<div class="section">
  <div class="container-fluid px-5">
    <!-- section title -->
    <div class="section-title mb-3">
      <div class="d-flex flex-column">
        <a href="{% url 'bops:index' campaign.bop.pk %}" class="mb-3">
          <i class="fa fa-arrow-left"></i> back to bop
        </a>
        <h2>Campaign Dashboard <i id="spin" class="fas fa-sync-alt fa-spin d-none"></i></h2>
        <p>Bop name: <b>{{ campaign.bop }}</b> > Campaign name: <b>{{ campaign }}</b></p>
        <br>
        <nav>
          <a href="{% url 'campaigns:planner' campaign.pk %}"><i class="fas fa-lightbulb"></i> Campaign Planner</a>
          <span class="mx-2">|</span>
          <a href="{% url 'campaigns:schema_active_dashboard' campaign.pk %}">
            <i class="fas fa-cog"></i> Manage Base Case Schema
          </a>
          <span class="mx-2">|</span>
          <a href="{% url 'campaigns:run' campaign.pk %}"><i class="fas fa-poll"></i> Results</a>
          <span class="mx-2">|</span>
          <a href="{% url 'campaigns:update' campaign.pk %}"><i class="fa fa-pencil-alt"></i> Edit Campaign</a>
        </nav>
      </div>

      <div>
        <a id="runTaskBtn" class="btn-standard-lg">
          <small>
            RUN
          </small>
          <i class="fas fa-cogs"></i>
        </a>
      </div>
    </div>
    <hr>

    <!-- section content -->
    <div class="row">
      <div class="col-sm-3">
        <div class="info">
          <h4>Info</h4>
          <ul class="info-list">
            <li>name: <b>{{ campaign.name }}</b></li>
            <li>
              <b>schema active: {{campaign.get_schema_active}}</b>
            </li>
            <li>
              status:
              {% if campaign.active %}
              <b>Active</b> <img src="{% static 'img/icon-yes.svg' %}" alt="">
              {% else %}
              <b>Inactive</b> <img src="{% static 'img/icon-no.svg' %}" alt="">
              {% endif %}
            </li>
            <li>start date: <b>{{ campaign.start_date|date:"Y-m-d" }}</b></li>
            <li>end date: <b>{{ campaign.end_date|date:"Y-m-d" }}</b></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="results">
          <div class="d-flex  px-1">
            <h4 class="title-1 mr-auto">Events</h4>
            <a href="{% url 'campaigns:create_event' campaign.pk %}">add event <i
                class="fa fa-plus text-success"></i></a>
          </div>

          <table class="table dnv-table m-0">
            <thead class="bg-white-50">
              <tr>
                <th scope="col">type</th>
                <th scope="col">object id</th>
                <th scope="col">created at</th>
                <th scope="col">created by</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for e in campaign.events.all %}
              <tr>
                <td><a href="">{{ e.type }}</a></td>
                <td><a href="">{{ e.object_code }}</a></td>
                <td><a href="">
                    {{ e.date }}
                  </a></td>
                <td>{{e.created_by.username}}</td>
                <td width="15%">
                  <form method="post" action="{% url 'campaigns:delete_event' e.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-standard"><i class="fa fa-times text-danger"></i> delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="content-related">
          <h4>Recent Results</h4>
          <ul class="info-list">
            {% for result in recent_results %}
            <li>
              <b>id:</b> {{result.pk}}
              <b>created_at: </b> {{result.created_at}}
              <br>
              <span>belongs to: {{result.schema}}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 4000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  function runningTask(is_running) {
    if (is_running) {
      let btn = document.getElementById('runTaskBtn');
      let icon = document.createElement('i');
      let text = document.createElement('small');

      btn.textContent = '';
      btn.classList = 'btn-standard-lg mr-2 disabled';
      btn.style = 'cursor: not-allowed';

      icon.classList = 'fas fa-sync-alt fa-spin';
      btn.appendChild(icon)

      text.textContent = ' CALCULATING NEW RESULTS...';
      btn.appendChild(text);

      $('#spin').removeClass('d-none')

      // $('#task_alert').addClass('d-flex')
    } else {
      let btn = document.getElementById('runTaskBtn');
      let text = document.createElement('small');
      let icon = document.createElement('i')

      btn.textContent = '';
      btn.style = '';
      btn.classList = 'btn-standard-lg mr-2';

      text.textContent = 'RUN ';
      btn.appendChild(text);

      icon.classList = 'fas fa-cogs';
      btn.appendChild(icon);

      $('#spin').addClass('d-none')

      // $('#task_alert').removeClass('d-flex')
    }
  }

  window.addEventListener('load', function (e) {

    const runTaskBtn = document.getElementById('runTaskBtn');

    runTaskBtn.addEventListener('click', function () {
      $.ajax({
        method: 'post',
        url: '{% url "campaigns:run" campaign.pk %}',
        data: {
          csrfmiddlewaretoken: '{{csrf_token}}'
        },
        success: function (data) {
          console.log(data)
        },
        error: function (data) {
          console.log('ERR', data)
        }
      })
    });

    const userId = JSON.parse(document.getElementById('userId').textContent);

    const chatSocket = new WebSocket(
      (location.protocol !== 'https:' ? 'ws://' : 'wss://')
      + window.location.host
      + '/ws/notifications/'
      + userId
      + '/'
    );

    chatSocket.onmessage = async function (e) {
      const data = JSON.parse(e.data);

      let unreaded_notifications = JSON.parse(data.unreaded_notifications);
      let old_notifications = JSON.parse(data.old_notifications);

      if (!old_notifications.length) return;

      if (unreaded_notifications.length > 0) {
        runningTask(unreaded_notifications[0].fields.group == 'c');
      } else {
        runningTask(old_notifications[0].fields.group == 'c')
      }
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    const campaignSocket = new WebSocket(
      (location.protocol !== 'https:' ? 'ws://' : 'wss://')
      + window.location.host
      + '/ws/campaigns/'
      + userId
      + '/'
    );

    campaignSocket.onmessage = async function (e) {
      const data = JSON.parse(e.data);

      if (data.type == 'd')
        $('#outdatedMessage').addClass('d-none');

      let icon = data.type == 's' ? 'error' : 'success'
      Toast.fire({
        icon,
        title: data.message
      }).then(() => {
        console.log('finished')
      })
    }

  });
</script>
{% endblock %}
