{% extends 'base.html' %}

{% block extra_menu %}
{% include 'common/bop_menu.html' %}
{% endblock %}

{% block main %}
{% if messages %}
<ul class="messagelist">
  {% for message in messages %}
  <li class="success">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<!-- main -->
<div class="main">
  <!-- section 2 -->
  <div class="section">
    <div class="container-fluid px-5">
      <!-- section title -->
      <div class="section-title mb-3">
        <div class="d-flex flex-column">
          <a href="{% url 'bops:index' campaign.bop.pk %}" class="mb-3">
            <i class="fa fa-arrow-left"></i> back to bop
          </a>
          <p>Bop name: <b>{{ campaign.bop }}</b> > Campaign name: <b>{{ campaign }}</b></p>
        </div>
        <div>
          <a href="{% url 'campaigns:run' campaign.pk %}" class="btn btn-sm btn-primary mr-2">
            <small>RUN</small>
          </a>
          <a href="{% url 'campaigns:update' campaign.pk %}" class="btn btn-sm btn-primary mr-2">
            <small>EDIT
              <i class="fa fa-pencil-alt"></i></small>
          </a>
          <a href="{% url 'campaigns:delete' campaign.pk %}" class="btn btn-sm btn-primary"><small>DELETE <i
              class="fa fa-times"></i></small>
          </a>
        </div>
      </div>
      <hr>

      <!-- section content -->
      <div class="row">
        <div class="col-sm-4 col-12">
          <div class="results">
            <div class="d-flex  px-1">
              <h4 class="title-1 mr-auto">Schemas</h4>
              <a href="{% url 'campaigns:create_schema' campaign.pk %}" class="">add schema <i class="fa fa-plus
                text-success"></i></a>
            </div>

            <table class="table dnv-table m-0">
              <thead class="bg-white-50">
              <tr>
                <th scope="col">name</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for schema in campaign.schemas.all %}
              <tr>
                <td>
                  <a href="{% url 'campaigns:update_schema' schema.pk %}">{{ schema.name }}</a>
                </td>
                <td width="10%">
                  <a href="{% url 'campaigns:delete_schema' schema.pk %}"><i
                      class="fa fa-times text-danger"></i></a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
        </div>

        <div class="col-sm-5 col-12">
          <div class="results">
            <div class="d-flex  px-1">
              <h4 class="title-1 mr-auto">Events</h4>
              <a href="{% url 'campaigns:create_event' campaign.pk %}">add event <i
                  class="fa fa-plus text-success"></i></a>
            </div>

            <table class="table dnv-table m-0">
              <thead class="bg-white-50">
              <tr>
                <th scope="col">name</th>
                <th scope="col">type</th>
                <th scope="col">object id</th>
                <th scope="col">date</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              {% for e in campaign.events.all %}
              <tr>
                <td><a href="">{{ e.name }}</a></td>
                <td><a href="">{{ e.type }}</a></td>
                <td><a href="">{{ e.object_code }}</a></td>
                <td><a href="">
                  {{ e.date }}
                </a></td>
                <td width="10%">
                  <form method="post" action="{% url 'campaigns:delete_event' e.pk %}">
                    {% csrf_token %}
                    <button  type="submit" class="btn"><i
                      class="fa fa-times text-danger"></i></button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
        </div>

        <div class="col-sm-3">
          <div class="info">
            <h4>Info</h4>
            <ul class="info-list">
              <li>name: <b>{{ campaign.name }}</b></li>
              <li>start date: <b>{{ campaign.start_date }}</b></li>
              <li>end date: <b>{{ campaign.end_date }}</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- main -->
{% endblock %}
