{% extends 'manager/base.html' %}
{% load manager_extras %}

{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'dashboard' %}">Home</a>
          <span class="fa fa-chevron-right"></span>
          <span class="current-page">Bop List </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block main %}
  <!-- main -->
  <div class="main">
    <!-- search bar -->
    <div class="search-bar p-2">
      <div class="container">
        {% for message in messages %}
          <div class="col-12 text-center">
            <p id="messages" class="alert alert-success">{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- ./ search bar -->

    <!-- users list -->
    <div id="users-list" class="section">
      <div class="container">
        <div class="card">
          <div class="card-header bg-quinary">
            <div class="d-flex align-items-center">
              <form class="form-inline" method="get">
                <input
                    class="form-control mr-sm-2 form-control-sm"
                    name="username"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"/>
                <button class="btn btn-info my-2 my-sm-0 btn-sm" type="submit">
                  <i class="fa fa-search"></i> Search
                </button>
              </form>
              <a href="{% url 'upload_bop' %}" class=" btn btn-success ml-auto btn-sm"><i
                  class="fa fa-plus text-white"></i>
                new bop</a>
            </div>
          </div>
          <!-- card body -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-sm m-0 table-hover dnv-table" id="campaignsTable">
                <thead class="">
                <tr>
                  <th scope="col" width="3%">#</th>
                  <th scope="col">name </th>
                  <th scope="col">rig name</th>
                  <th scope="col">well name</th>
                  <th scope="col" style="text-align: center;">
                    created_at
                  </th>
                  <th scope="col" style="text-align: center;">
                    updated_at
                  </th>
                  <th scope="col" style="text-align: center;">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for bop in bops %}
                  <tr>
                    <td scope="row" align="center">{{ bop.pk }}</td>
                    <td><a href="{% url 'update_bop' pk=bop.pk %}">{{ bop.name }}</a></td>
                    <td></td>
                    <td></td>
                    <td align="center">{{ bop.created_at }}</td>
                    <td align="center">{{ bop.updated_at }}</td>
                    <!-- edit -->
                    <td align="center">
                      <div class="btn-group-actions">
                        <a href="" class="btn btn-action btn-sm"><i class="fa fa-edit"></i></a>
                        <a href="" class="btn btn-action btn-sm"><i class="fa fa-trash"></i></a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer">
            <nav aria-label="Page navigation example">
              {% if accounts.has_other_pages %}
                <ul class="pagination m-0">
                  {% if accounts.has_previous %}
                    <li class="page-item">
                      <a
                          class="page-link"
                          href="{% my_url accounts.previous_page_number 'page' request.GET.urlencode %}"
                          aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  {% endif %}

                  {% for i in accounts.paginator.page_range %}
                    {% if accounts.number == i %}
                      <li class="page-item active">
                        <a class="page-link">{{ i }}</a>
                      </li>
                    {% else %}
                      <li class="page-item">
                        <a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {% if accounts.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="{% my_url accounts.next_page_number 'page' request.GET.urlencode %}"
                         aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- main -->
{% endblock %}