{% extends 'manager/base.html' %}

{% block breadcrumb %}
  <!-- breadcrumb -->
  <div class="page-title">
    <div class="container-fluid px-5">
      <div class="page-title-wrapper-2">
        <div class="page-title-heading-2">
          <a href="{% url 'dashboard' %}">Home</a>
          <span class="fa fa-chevron-right"></span>
          <a href="{% url 'list_bops' %}">Bop list</a>
          <span class=" fa fa-chevron-right"></span>
          <span class="current-page">Create new Bop </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% block main %}
  {{ cert_form.errors }}
  <div class="section bg-white">
    <div class="container-fluid px-5">
      <div class="section-title mb-4 d-flex">
        <p clas>Add Bop</p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- name field -->
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-sm">Name:</label>
              <div class="col-sm-3">
                {{ form.name }}
              </div>
              <div class="col-sm-10 offset-2">
                <small class="form-text text-muted">
                  Required
                </small>
              </div>
            </div>
            <hr/>

            <!-- description field -->
            <div class="form-group row align-items-center no-gutters">
              <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-sm">Rig:</label>
              <div class="col-sm-1">
                {{ form.rig }}
              </div>
              <div class="col-sm-2">
                <div class="ml-2">
                  <a href="" class="px-2"><i class="fa fa-plus text-success"></i></a>
                  <a href="" class="px-2"><i class="fa fa-pencil-alt text-warning"></i></a>
                </div>
              </div>
            </div>
            <hr/>

            <!-- File field -->
            <div class="row">
              <label for="inputEmail3" class="col-sm-2 col-form-label col-form-label-sm">File:</label>
              <div class="col-sm-5">
                <input name="file" type="file" class="">
                <small class="form-text text-muted">
                  Required.
                </small>
              </div>
            </div>
            <hr/>

            <!-- certification -->
            <fieldset class="form-fieldset">
              <h4>Last Certification</h4>

              <div class="form-group row px-2">
                <label class="col-sm-2 col-form-label col-form-label-sm">code:</label>
                <div class="col-sm-2">
                  {{ cert_form.code }}
                </div>
              </div>
              <hr/>

              <div class="form-group row px-2">
                <label class="col-sm-2 col-form-label col-form-label-sm">start date:</label>
                <div class="col-sm-2">
                  {{ cert_form.start_date }}
                </div>
              </div>
              <hr/>

              <div class="form-group row px-2">
                <label class="col-sm-2 col-form-label col-form-label-sm">end date:</label>
                <div class="col-sm-2">
                  {{ cert_form.end_date }}
                </div>
              </div>
              <hr/>

            </fieldset>

            <!-- actions -->
            <div class="card">
              <div class="bg-light text-right p-2">
                <a href="{% url 'manager' %}" class=" btn btn-default">
                  Cancel
                </a>
                <button type="submit" class="px-4 btn btn-secondary">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      // Query all input fields
      var form_fields = document.getElementsByTagName('input')
      // customization of form fields
      for (var field in form_fields) {
          if (form_fields[field].type == 'file') continue
          form_fields[field].className += 'form-control form-control-sm'
      }

      // Query all selects fields
      var form_fields = document.getElementsByTagName('select')
      // customization of form fields
      for (var field in form_fields) {
          form_fields[field].className += 'form-control form-control-sm'
      }
  </script>
{% endblock %}
